/* $Id: aggregate.css,v 1.1.2.1 2011/06/25 10:48:30 ak Exp $ */
/* Copyright 2010 Cubicroot Co. Ltd. */
/* Aggregation classes */
div.aggregation {
	/* Based on 'result' class */
	margin: 6px 1px 12px 18px;
	padding: 4px;
	border-width: 1px;
	border-color: #c1e4e9; /* Shiraai */
	border-style: solid;
	background-color: #fffffc; /* Gofun-iro */
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-opera-border-radius: 4px;
}

div.aggregation table {
	width: 97%;
	margin: 4px 2px 2px 2px;
	font-size: 11px;
	/*
	border-collapse: collapse;
	*/
	border-spacing: 0px 4px;
}

div.aggregation th {
	margin: 1px 0 8px 0;
	padding: 2px 2px;
	font-size: 12px;
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: #c1e4e9; /* Shiraai */
}

div.aggregation td {
	margin: 2px 0;
	padding: 2px 4px;
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: #ebf6f7;
}


td.name {
	width: 128px;
	font-weight: bold;
	vertical-align: middle;
}

td.graph {
	font-weight: bold;
	vertical-align: middle;
}

td.numeral {
	width: 64px;
	text-align: right;
}

div.bargraph {
	width: 240px;
	height: 12px;
	border-width: 1px;
	border-style: solid;
	border-color: #2ca9e1; /* Ama-iro */
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-opera-border-radius: 6px;
}

div.bargraph div.used {
	height: 12px;
	background: #2ca9e1; /* Ama-iro */
	-webkit-border-radius: 2px 0 0 2px;
	-moz-border-radius: 2px 0 0 2px;
	-opera-border-radius: 2px 0 0 2px;
}

