/* $Id: bouncehammer.css,v 1.3 2010/02/28 09:07:32 ak Exp $ */
/* Copyright 2009,2010 Cubicroot Co. Ltd. */

/* IDs */
#ThePage {
	margin:	0px auto;
	padding: 0px;
	width: 900px;
	text-align: left;
}

#North-Ward {
	height: 48px;
	margin: 2px 0;
	padding: 5px;
	width: 888px;
	z-index: 20;
}

#South-Ward {
	clear: both;
	height: 8px;
	margin: 2px 0;
	padding: 5px;
	width: 888px;
	z-index: 20;
	border-color: #d4dcd6;	/* Sobakiri-iro */
	border-width: 0 0 1px 0;
	border-style: dotted;
}

#West-Ward {
	float: left;
	margin: 0;
	padding: 0;
	width: 144px;
	z-index: 19;
}

#East-Ward {
	float: right;
	margin: 0;
	padding: 5px 0px;
	width: 128px;
	z-index: 20;
}

#Central-Ward {
	margin: 0 128px 0 144px;
	padding: 8px 8px;
	border-style: dotted;
	border-width: 0 0 0 1px;
	border-color: #d4dcd6;	/* Sobakiri-iro */
	z-index: 20;
}

#PageURI {
	margin: 0;
	padding: 0;
	font-size: 10px;
	text-align: left;
	width: 880px;
}

#PageURI input {
	width: 880px;
	margin: 4px 0 4px 0;
	padding: 8px;
	color: #524e4d; /* Keshizumi-iro */
	background: #e5e4e6; /* Shiraumenezu */
	border-color: #d4dcd6;	/* Sobakiri-iro */
	border-width: 0px;
	border-style: solid;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-opera-border-radius: 4px;
}

#Legal {
	margin: 4px 4px 2px 4px;
	padding: 4px 6px;
	font-size: 9px;
	color: #727171; /* Nibi-iro */
	border-color: #d4dcd6;	/* Sobakiri-iro */
	border-width: 1px;
	border-style: solid;
	background: #f3f3f2; /* Shironeri */
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-opera-border-radius: 6px;
}

p#Copyright, p#Product, p#License {
	display: inline;
}

#MenuBar {
	margin: 0;
	padding: 2px;
	font-size: 10px;
	vertical-align: middle;
	text-align: right;
}

#ChooseFile {
	font-size: 10px;
}

div#search-condition {
	background: #f8fbf8; /* Hakuji */
	padding: 8px 2px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-opera-border-radius: 4px;
}

div#search-condition div.subgroup {
	margin-top: 12px;
	padding-top: 12px;
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: #d4dcd6;	/* Sobakiri-iro */
}

div#search-query {
	background: #f8f4e6; /* Zouge-iro */
	padding: 8px;
}

/* HTML Elements */
html { -webkit-text-size-adjust: none; }

div,span,form,input {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 11px;
	color: #383c3c; /* Youkan-iro */
	text-align: center;
	vertical-align: middle;
	margin: 2px;
	padding: 2px;
	width: 99%;
}

h1 {
	margin: 0;
	padding: 0;
	color: #3e62ad; /* Kakitsubata */
	font-size: 20px;
	font-family: 'Gill Sans Lite', 'Century Gothic', Verdana, 'Trebuchet MS';
	border-style: solid;
	border-width: 0 0 2px 0;
	text-shadow: 0px 1px 0px #eeeeee;
}

h2 {
	margin: 8px 0 8px 0;
	padding: 0 0 0 3px;
	font-size: 16px;
	font-family: 'Trebuchet MS', Verdana;
	color: #544a47; /* Kurotsurubami */
}

h3 {}

h4 {
	margin: 0;
	padding: 0 0 0 2px;
	font-size: 13px;
	font-family: 'Gill Sans Lite', 'Century Gothic', Verdana, 'Trebuchet MS';
	text-align: center;
	color: #524e4d; /* Keshizumi-iro */
	background: #dddcd6; /* Kinunezu */
}

h5 {}
h6 {
	/* Title in a tool tip */
	margin: 2px 2px 4px 2px;
	font-size: 11px;
	font-weight: bold;
	font-family: 'Gill Sans Lite', 'Century Gothic', Verdana, 'Trebuchet MS';
	border-width: 0 0 1px 0;
	border-style: solid;
}

sup { font-size: 16px; }

legend { 
	font-size: 10px;
	color: #7b7c7d; /* Namari-iro */
}

fieldset {
	border-width: 1px;
	border-style: solid;
	border-color: #d4dcd6;	/* Sobakiri-iro */
}

input, select { 
	font-size: 11px; 
	outline: none;
}

/* Anchor pseudo classes */
a:link, a:active {
	color: #595857;	/* Sumi */
	text-decoration: none; 
	outline: none;
}

a:hover, a:hover:visited {
	color: #595857; /* Sumi */
	text-decoration: underline; 
}

a:visited { 
	color: #595857; /* Sumi */
	text-decoration: none; 
}

span.baguette {
	padding: 2px 8px;
	color: #afafb0; /* Gin-nezu */
	background: #383c3c; /* Youkan-iro */
	border-color: #2b2b2b;	/* Rou-iro */
	border-style: solid;
	border-width: 1px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-opera-border-radius: 12px;
}

span.baguette a:link, span.baguette a:visited {
	color: #afafb0; /* Gin-nezu */
}

span.baguette a:hover, span.baguette a:hover:visited {
	text-decoration: none;
	color: #89c3eb; /* Wasurenagusa-iro */
}

input.wide { /* Wide input field */
	margin: 2px 0 2px 0;
	padding: 4px;
	border-style: solid;
	border-color: #7b7c7d; /* Namari-iro */
	border-width: 1px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-opera-border-radius: 4px;
}

span.flatbutton, input.flatbutton {
	margin: 2px;
	padding: 2px 4px;
	color: #727171; /* Nibi-iro */
	font-weight: bold;
	font-size: 10px;
	border-color: #d4dcd6;	/* Sobakiri-iro */
	border-style: solid;
	border-width: 1px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-opera-border-radius: 4px;
	background-color: transparent;
	background-image:
		-moz-linear-gradient( 
			top, 
			rgba(252, 252, 252, 0.1), 
			rgba(240, 240, 240, 0.3) 10%, 
			rgba(224, 224, 224, 0.7)
		);
	background-image:
		-webkit-gradient(
			linear, left top, left bottom,
			color-stop( 0, rgba(252, 252, 252, 0.1)),
			color-stop( 50%, rgba(240, 240, 240, 0.3)),
			color-stop( 90%, rgba(224, 224, 224, 0.7))
		);
}

input.flatbutton {
	margin: 2px;
	padding: 2px 8px;
	color: #595857; /* Sumi */
}

span.flatbutton:hover {
	border-color: #727171; /* Nibi-iro */
	color: #007bbb; /* Kompeki */
}

input.flatbutton:hover {
	border-color: #595857; /* Sumi */
	color: #007bbb; /* Kompeki */
}

/* Anchor pseudo classes in flatbutton class */
.flatbutton a:hover, .flatbutton a:visited:hover {
	color: #007bbb; /* Kompeki */
	text-decoration: none; 
}


/* Index items in West-Ward */
ul.index {
	margin: 0 4px 0 0;
	padding: 8px 0px;
	color: #887f7a;	/* Susu-iro */
	font-size: 11px;
	list-style-type: none;
}

ul.index li.item {
	width: 130px;
	margin: 2px 0;
	padding: 2px 2px 2px 8px;
	display: block;
}

ul.index li.item:hover,
ul.index li.subitem:hover {
	font-weight: bold;
	background: #e5e4e6; /* Shiraumenezu */
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-opera-border-radius: 4px;
}

ul.index li.subitem {
	width: 122px;
	margin: 2px 0;
	padding: 2px 2px 2px 16px;
	display: block;
}

/* Anchor pseudo classes in index class */
ul.index a:link {
	color: #595857;	/* Sumi */
	text-decoration: none; 
}

ul.index a:hover, ul.index a:visited:hover {
	color: #007bbb; /* Kompeki */
	background: #e5e4e6; /* Shiraumenezu */
	text-decoration: none; 
}

ul.index a:visited { 
	color: #595857; /* Sumi */
	text-decoration: none; 
}

p.description { 
	margin: 2px 1px 1px 1px;
	padding: 1px 1px 2px 4px;
	font-size: 10px;
}

p.description dl { 
	margin: 1px;
	padding: 1px;
}

p.description dl dt { 
	font-weight: bold;
	margin-top: 2px;
}

p.description dl dd {}

ol { 
	margin: 2px 2px 4px 1px;
	padding: 2px 2px 2px 16px;
}

ol li { margin: 1px 0; }



/* Result class */
div.result {
	margin: 5px 1px 15px 25px;
	padding: 0px;
}

div.result p.exception {
	margin: 4px;
	padding: 4px;
	background: #e2041b; /* Shoujouhi */
	color: #fffffc; /* Gofun-iro */
	font-weight: bold;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-opera-border-radius: 4px;
}

div.result .upload-summary {
	margin: 2px 0;
	padding: 4px;
	background: #fbfaf5; /* Kinari-iro */
	border-style: solid;
	border-width: 1px;
	border-color: #7b7c7d; /* Namari-iro */
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-opera-border-radius: 4px;
}


/* Reason classes */
span.reason {
	border-style: solid;
	border-width: 2px;
	border-color: #16160e; /* Ankokushoku */
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-opera-border-radius: 4px;
}
span.undefined		{ background: #222222; }
span.userunknown	{ background: #e2041b; }
span.hostunknown	{ background: #e83929; }
span.hasmoved		{ background: #ee7800; }
span.filtered		{ background: #ea5506; }
span.mailboxfull	{ background: #b8d200; }
span.exceedlimit	{ background: #c3d825; }
span.systemfull		{ background: #00a497; }
span.notaccept		{ background: #0094c8; }
span.mesgtoobig		{ background: #007b43; }
span.suspend		{ background: #752100; }
span.mailererror	{ background: #44617b; }
span.securityerr	{ background: #1e50a2; }
span.whitelisted	{ border-color: #888888; background: #eeeeee; }
span.unstable		{ background: #674196; }
span.onhold		{ background: #595857; }

/* Other text */
span.errortext		{ color: #cc0000; }

