/* $Id: bouncehammer.css,v 1.21.2.4 2011/02/02 04:10:12 ak Exp $ */
/* Copyright 2009,2010 Cubicroot Co. Ltd. */

/* IDs */
#ThePage {
	margin:	0px auto;
	padding: 0px;
	width: 900px;
	text-align: left;
}

#North-Ward {
	height: 48px;
	margin: 2px 0;
	padding: 5px;
	width: 888px;
	z-index: 20;
}

#South-Ward {
	clear: both;
	height: 8px;
	margin: 2px 0;
	padding: 5px;
	width: 888px;
	z-index: 20;
	border-color: #d4dcd6;	/* Sobakiri-iro */
	border-width: 0 0 1px 0;
	border-style: dotted;
}

#West-Ward {
	float: left;
	margin: 0;
	padding: 0;
	width: 144px;
	z-index: 19;
}

#East-Ward {
	float: right;
	margin: 0;
	padding: 5px 0px;
	width: 128px;
	z-index: 20;
}

#Central-Ward {
	margin: 0 128px 0 144px;
	padding: 8px 8px;
	z-index: 20;
}

#PageURI {
	margin: 0;
	padding: 0;
	font-size: 10px;
	text-align: left;
	width: 880px;
}

#PageURI input {
	width: 880px;
	margin: 4px 0 4px 0;
	padding: 8px;
	font-weight: bold;
	color: #524e4d; /* Keshizumi-iro */
	background: #eaf4fc; /* Geppaku */
	border-color: #d4dcd6;	/* Sobakiri-iro */
	border-width: 0px;
	border-style: solid;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-opera-border-radius: 4px;
}

#Legal {
	margin: 4px 4px 2px 4px;
	padding: 4px 6px;
	font-size: 9px;
	color: #727171; /* Nibi-iro */
	border-color: #d4dcd6;	/* Sobakiri-iro */
	border-width: 1px;
	border-style: solid;
	background: #f3f3f2; /* Shironeri */
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-opera-border-radius: 6px;
}

#Legal a {
	color: #727171; /* Nibi-iro */
}

p#Copyright, p#Product, p#License {
	display: inline;
}

#MenuBar {
	margin: 0;
	padding: 2px;
	font-size: 10px;
	vertical-align: middle;
	text-align: right;
}

/* HTML Elements */
html { -webkit-text-size-adjust: none; }

div,span,form,input {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 11px;
	color: #474a4d; /* Aisumicha */
	text-align: center;
	vertical-align: middle;
	margin: 2px;
	padding: 2px;
	width: 99%;
}

h1 {
	margin: 0;
	padding: 0;
	font-size: 24px;
	font-family: 'Gill Sans Lite', 'Century Gothic', Verdana, 'Trebuchet MS';
	border-style: solid;
	border-width: 0 0 2px 0;
	color: #38a1db; /* Tsuyukusa-iro */
	text-shadow: 1px 1px 0px #eeeeee; /* Noshimehana-iro */
}

h2 {
	margin: 8px 0 8px 0;
	padding: 0 0 0 3px;
	font-size: 16px;
	font-family: 'Trebuchet MS', Verdana;
	color: #426579; /* Noshimehana-iro */
	text-shadow: 1px 1px 1px #eaf4fc; /* Geppaku */
}

h3 {}

h4 {
	margin: 0;
	padding: 0 0 0 2px;
	font-size: 13px;
	font-family: 'Gill Sans Lite', 'Century Gothic', Verdana, 'Trebuchet MS';
	text-align: center;
	color: #524e4d; /* Keshizumi-iro */
	background: #e5e4e6; /* Shiraumenezu */
}

h5 {}
h6 {
	/* Title in a tool tip */
	margin: 2px 2px 4px 2px;
	font-size: 11px;
	font-weight: bold;
	font-family: 'Gill Sans Lite', 'Century Gothic', Verdana, 'Trebuchet MS';
	border-width: 0 0 1px 0;
	border-style: solid;
}

sup { font-size: 16px; }

legend { 
	font-size: 10px;
	color: #7b7c7d; /* Namari-iro */
}

fieldset {
	border-width: 1px;
	border-style: solid;
	border-color: #d4dcd6;	/* Sobakiri-iro */
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-opera-border-radius: 4px;
}

input, select { 
	font-size: 11px; 
	outline: none;
}

select.wide-dropdownlist {
	width: 192px;
}

/* Anchor pseudo classes */
a:link, a:active {
	color: #595857;	/* Sumi */
	text-decoration: none; 
	outline: none;
}

a:hover, a:hover:visited {
	color: #595857; /* Sumi */
	text-decoration: underline; 
}

a:visited { 
	color: #595857; /* Sumi */
	text-decoration: none; 
}

input.wide { /* Wide input field */
	margin: 2px 0 2px 0;
	padding: 4px;
	border-style: solid;
	border-color: #7b7c7d; /* Namari-iro */
	border-width: 1px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-opera-border-radius: 4px;
}

input.wide:focus {
	border-color: #2ca9e1; /* Ama-iro */
}

span.flatbutton, input.flatbutton {
	width: 80px;
	margin: 2px;
	padding: 2px 4px;
	color: #474a4d; /* Aisumicha */
	font-weight: bold;
	font-size: 10px;
	border-color: #d4dcd6;	/* Sobakiri-iro */
	border-style: solid;
	border-width: 1px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-opera-border-radius: 4px;
	-webkit-box-shadow: 0px 1px 1px #949495;
	-moz-box-shadow: 0px 1px 1px #949495;
	box-shadow: 0px 1px 1px #949495;
	background-color: transparent;
	background-image:
		-moz-linear-gradient( 
			top, 
			rgba(252, 252, 252, 0.1), 
			rgba(240, 240, 240, 0.3) 10%, 
			rgba(224, 224, 224, 0.7)
		);
	background-image:
		-webkit-gradient(
			linear, left top, left bottom,
			color-stop( 0, rgba(252, 252, 252, 0.1)),
			color-stop( 50%, rgba(240, 240, 240, 0.3)),
			color-stop( 90%, rgba(224, 224, 224, 0.7))
		);
}

input.flatbutton {
	margin: 2px;
	padding: 2px 8px;
	color: #595857; /* Sumi */
}

span.longflatbutton {
	width: 108px;
	height: 13px;
	margin: 4px;
	padding: 2px;
	vertical-align: middle;
	text-align: center;
	display: block;
}

span.flatbutton:hover {
	border-color: #727171; /* Nibi-iro */
	color: #007bbb; /* Kompeki */
}

input.flatbutton:hover {
	border-color: #595857; /* Sumi */
	color: #007bbb; /* Kompeki */
}

input.caution:hover {
	color: #e2041b; /* Shoujouhi */
}

input.flatbutton[disabled], input.flatbutton[disabled]:hover {
	color: #afafb0; /* Gin-nezu */
	border-color: #d4dcd6;	/* Sobakiri-iro */
}

/* Anchor pseudo classes in flatbutton class */
.flatbutton a:hover, .flatbutton a:visited:hover {
	color: #007bbb; /* Kompeki */
	text-decoration: none; 
}
.caution a:hover, .caution a:visited:hover {
	color: #e2041b; /* Shoujouhi */
}


/* Index items in West-Ward */
ul.index {
	margin: 0 4px 0 0;
	padding: 8px 0px;
	color: #887f7a;	/* Susu-iro */
	font-size: 11px;
	list-style-type: none;
}

ul.index li.item, ul.index li.itemgroup {
	width: 130px;
	margin: 2px 0;
	padding: 2px 2px 2px 8px;
	display: block;
}

li.itemgroup {
	color: #44617b; /* Kon-nezu */
	font-weight: bold;
}

ul.index li.item:hover,
ul.index li.subitem:hover,
ul.index li.itemgroup:hover {
	font-weight: bold;
	background: #eaf4fc; /* Geppaku */
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-opera-border-radius: 4px;
}

ul.index li.currentpage {
	font-weight: bold;
	color: #250d00; /* Kokutan */
	background: #fcc800; /* Himawari-iro */
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-opera-border-radius: 4px;
}

ul.index li.subitem {
	width: 122px;
	margin: 2px 0;
	padding: 2px 2px 2px 1.8em;
	display: block;
}

/* Anchor pseudo classes in index class */
ul.index a:link {
	color: #383c3c;	/* Youkan-iro */
	text-decoration: none; 
}

ul.index a:hover, ul.index a:visited:hover {
	color: #007bbb; /* Kompeki */
	background: #eaf4fc; /* Geppaku */
	text-decoration: none; 
}

ul.index a:visited { 
	color: #383c3c;	/* Youkan-iro */
	text-decoration: none; 
}


span.warnings {
	color: #c9171e; /* Kokihi */
}

span.shortdescription {
	font-size: 10px;
	margin: 2px 0 2px 16px;
	color: #5383c3; /* Usugunjou */
}

span.shortdescription a {
	color: #3e62ad;	/* Kakitsubata */
	font-weight: bold;
	text-decoration: underline;
}

p.description { 
	margin: 2px 1px 1px 2px;
	padding: 1px 1px 2px 2px;
	font-size: 10px;
}

span.toggle-sign {
	margin: 1px 4px 1px 2px;
	padding: 1px 4px;
	cursor: pointer;
	color: #474a4d; /* Aisumicha */
	text-shadow: -1px -1px 1px #f8f8f8; /* Hakuji */
	font-weight: bold;
	font-family: 'Courier New', 'Sans Serif';
	font-size: 11px;
	border-color: #d4dcd6;	/* Sobakiri-iro */
	border-style: solid;
	border-width: 1px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-opera-border-radius: 4px;
	-webkit-box-shadow: 0px 1px 1px #949495;
	-moz-box-shadow: 0px 1px 1px #949495;
	box-shadow: 0px 1px 1px #949495;
	background-color: transparent;
	background-image:
		-moz-linear-gradient( 
			top, 
			rgba(252, 252, 252, 0.1), 
			rgba(240, 240, 240, 0.3) 10%, 
			rgba(224, 224, 224, 0.7)
		);
	background-image:
		-webkit-gradient(
			linear, left top, left bottom,
			color-stop( 0, rgba(252, 252, 252, 0.1)),
			color-stop( 50%, rgba(240, 240, 240, 0.3)),
			color-stop( 90%, rgba(224, 224, 224, 0.7))
		);
}

div.description dl { 
	margin: 1px;
	padding: 0;
}

div.description dl dt { 
	font-weight: bold;
	margin: 2px 0 2px 0;
	padding: 2px 2px 2px 4px;
	background: #e5e4e6; /* Shiraumenezu */
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-opera-border-radius: 6px;
}

div.description dl dd {
	margin: 2px 0 4px 4px;
	padding: 2px 0 2px 4px;
}

ol { 
	margin: 2px 2px 4px 1px;
	padding: 2px 2px 2px 16px;
}

ol li { margin: 1px 0; }



/* Result class */
div.result {
	margin: 5px 1px 15px 25px;
	padding: 0px;
}

/* Exception, Error */
.excephead, .errorhead {
	font-weight: bold;
	margin: 4px 0;
}
.excephead { color: #e2041b; /* Shoujouhi */ }
.errorhead { color: #d9333f; /* Beniaka */ }

div.exception, div.errormessage {
	margin: 4px 1px;
	padding: 4px;
	font-size: 11px;
	background: #e83929; /* Masoo */
	color: #fffffc; /* Gofun-iro */
	border-color: #e2041b; /* Shoujouhi */
	border-width: 1px;
	border-style: solid;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-opera-border-radius: 4px;
}

div.errormessage {
	background: #fdeff2; /* Usuzakura */
	color: #281a14; /* Tetsuguro */
	border-color: #e2041b; /* Shoujouhi */
}

div.exception p, div.errormessage p {
	margin: 0;
	padding: 0;
}

span.webdings  { font-family: Webdings; }
span.wingdings { font-family: Wingdings; }

.errortext	{ color: #e2041b; /* Shoujouhi */ }
.voidtext	{ color: #dcdddd; /* Shiro-nezu */ }
.available	{ color: #007b43; /* Tokiwa-iro */ }

hr.flatline {
	border-color: #d4dcd6;	/* Sobakiri-iro */
	border-style: solid;
	border-width: 1px 0 0 0;
	height: 1px;
}

