/* $Id: mastertable.css,v 1.1 2009/12/17 19:12:36 ak Exp $ */
/* Master table classes */
div.mastertable .theID {
	margin: 0;
	padding: 2px 0 0 0;
	width: 48px;
	height: 20px;
	vertical-align: middle;
	border-style: dotted;
	border-width: 0 0 1px 0;
	border-color: #9ea1a3; /* Suzu-iro */
	float: left;
}

div.mastertable .theName {
	margin: 0;
	padding: 2px 0 0 0;
	width: 192px;
	height: 20px;
	vertical-align: middle;
	border-style: dotted;
	border-width: 0 0 1px 0;
	border-color: #9ea1a3; /* Suzu-iro */
	float: left;
}

div.mastertable .shortName {
	margin: 0;
	padding: 2px 0 0 0;
	width: 96px;
	height: 20px;
	vertical-align: middle;
	border-style: dotted;
	border-width: 0 0 1px 0;
	border-color: #9ea1a3; /* Suzu-iro */
	float: left;
}

div.mastertable .theDescription {
	margin: 0 96px 0 240px;
	padding: 2px 0 0 0;
	height: 20px;
	vertical-align: middle;
	border-style: dotted;
	border-width: 0 0 1px 0;
	border-color: #9ea1a3; /* Suzu-iro */
}

div.mastertable .longDescription {
	margin: 0 8px 0 144px;
	padding: 2px 0 0 0;
	height: 20px;
	vertical-align: middle;
	border-style: dotted;
	border-width: 0 0 1px 0;
	border-color: #9ea1a3; /* Suzu-iro */
}
div.mastertable .theDescription input.rewritabletext {
	margin: 0;
	padding: 2px 0 0 2px;
	border-style: solid;
	border-color: #d4dcd6;	/* Sobakiri-iro */
	border-width: 1px;
	color: #383c3c; /* Youkan-iro */
	width: 224px;
}

div.mastertable .theName input.rewritabletext {
	margin: 0;
	padding: 2px 0 0 2px;
	border-style: solid;
	border-color: #d4dcd6;	/* Sobakiri-iro */
	border-width: 1px;
	color: #383c3c; /* Youkan-iro */
	width: 169px;
}

div.mastertable .theMethod {
	margin: 0;
	padding: 2px 0 0 0;
	width: 96px;
	height: 20px;
	vertical-align: middle;
	border-style: dotted;
	border-width: 0 0 1px 0;
	border-color: #9ea1a3; /* Suzu-iro */
	float: right;
}

div.mastertable .null {
	margin: 0;
	padding: 2px 0 0 0;
	width: 8px;
	height: 20px;
	vertical-align: middle;
	border-style: dotted;
	border-width: 0 0 1px 0;
	border-color: #9ea1a3; /* Suzu-iro */
	float: right;
}

div.errorstring {
	padding: 0;
	vertical-align: middle;
	background: #e2041b; /* Shoujouhi */
	color: #f3f3f2; /* Shironeri */
}

div.removedrecord {
	padding: 0;
	vertical-align: middle;
	background: #9ea1a3; /* Suzu-iro */
	color: #727171; /* Nibi-iro */
}


