/* $Id: mtamodules.css,v 1.1.2.1 2011/08/23 21:27:13 ak Exp $ */
/* Copyright 2010 Cubicroot Co. Ltd. */
/* List of MTA modules */
div.contents {
	/* Based on 'result' class */
	margin: 6px 1px 12px 18px;
	padding: 2px;
	border-width: 1px;
	border-color: #9ea1a3; /* Suzu-Iro */
	border-style: solid;
	background-color: #fffffc; /* Gofun-iro */
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-opera-border-radius: 4px;
}

div.contents table {
	width: 97%;
	margin: 8px 2px 4px 2px;
	font-size: 11px;
	border-collapse: separate;
	border-spacing: 2px 6px;
}

tr.head th {
	border-width: 0 0 2px 0;
	border-color: #dcdddd; /* Shironezu */
	border-style: solid;
	padding: 2px 4px;
	vertical-align: middle;
	font-size: 10px;
}

td {
	padding: 2px 4px;
	border-width: 0 0 1px 0;
	border-color: #dcdddd; /* Shironezu */
	border-style: dotted;
	color: #455765; /* Tetsuonando */
	vertical-align: middle;
}

td.name {
	width: 127px;
	margin: 0;
	padding: 0 0 0 2px;
	font-weight: bold;
	font-size: 13px;
	text-align: left;
}

td.desc {
	padding: 0 0 0 2px;
	margin: 0;
	text-align: left;
}

td.bool {
	text-align: center;
}

.disabled {
	color: #adadad; /* Usunibi */
}

