/* $Id: pagination.css,v 1.4 2010/06/23 07:36:21 ak Exp $ */
/* Copyright 2009,2010 Cubicroot Co. Ltd. */
/* Pagination Classes */
div.pagination {
	margin: 0;
}

div.pageindex {
	padding: 2px 0;
	background: #383c3c; /* Youkan-iro */
	color: #e5e4e6; /* Shiraumenezu */
	font-size: 11px;
	font-weight: bold;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-opera-border-radius: 4px;
	background-color: transparent;
	background-image:
		-moz-linear-gradient( 
			top, 
			rgba(64, 64, 64, 0.8), 
			rgba(32, 32, 32, 0.8) 10%, 
			rgba(16, 16, 16, 0.9)
		);
	background-image:
		-webkit-gradient(
			linear, left top, left bottom,
			color-stop( 0, rgba(64, 64, 64, 0.8)),
			color-stop( 50%, rgba(32, 32, 32, 0.8)),
			color-stop( 90%, rgba(16, 16, 16, 0.9))
		);
}

div.pageindex a:link, a:hover, a:visited, a:visited:hover {
	color: #e5e4e6; /* Shiraumenezu */
	text-decoration: none;
}

div.pagination .pagesummary {
	margin: 0 0 1px 0;
	padding: 1px 1px 2px 1px;
	color: #383c3c; /* Youkan-iro */
	text-align: right;
}

div.pageindex .lhs {
	margin: 0;
	padding: 2px;
	width: 32px;
	float: left;
	text-align: left;
	vertical-align: middle;
}

div.pageindex .rhs {
	margin: 0;
	padding: 2px;
	width: 32px;
	float: right;
	text-align: right;
	vertical-align: middle;
}

div.pageindex .mid {
	margin: 0 38px 0 38px;
	padding: 2px;
	text-align: left;
}

div.pageindex .thispage {
	padding: 1px;
	font-size: 12px;
	color: #007bbb; /* Ao */
	border-width: 0px;
	border-style: solid;
	border-color: #afafb0; /* Gin-nezu */
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-opera-border-radius: 2px;
	background-image:
		-moz-linear-gradient( 
			top, 
			rgba(255, 255, 255, 1.0), 
			rgba(248, 248, 248, 1.0) 10%, 
			rgba(240, 240, 240, 1.0)
		);
	background-image:
		-webkit-gradient(
			linear, left top, left bottom,
			color-stop( 0, rgba(255, 255, 255, 1.0)),
			color-stop( 50%, rgba(248, 248, 248, 1.0)),
			color-stop( 90%, rgba(240, 240, 240, 1.0))
		);
}
