/* $Id: pagination.css,v 1.2 2010/05/25 23:52:32 ak Exp $ */
/* Copyright 2009,2010 Cubicroot Co. Ltd. */
/* Pagination Classes */
div.pagination {
	margin: 0;
	padding: 1px 2px;
	background: #383c3c; /* Youkan-iro */
	color: #e5e4e6; /* Shiraumenezu */
	font-size: 11px;
	font-weight: bold;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-opera-border-radius: 4px;
}

div.pagination a:link, a:hover, a:visited, a:visited:hover {
	color: #e5e4e6; /* Shiraumenezu */
	text-decoration: none;
}

div.pagination .summary {
	margin: 0 0 1px 0;
	padding: 1px 1px 2px 1px;
	color: #c0c6c9; /* Haiao */
	text-align: right;
	border-color: #727171; /* Nibiiro */
	border-width: 0 0 1px 0;
	border-style: solid;
}

div.pagination .lhs {
	margin: 0;
	padding: 2px;
	width: 32px;
	float: left;
	text-align: left;
	vertical-align: middle;
}

div.pagination .rhs {
	margin: 0;
	padding: 2px;
	width: 32px;
	float: right;
	text-align: right;
	vertical-align: middle;
}

div.pagination .mid {
	margin: 0 38px 0 38px;
	padding: 2px;
	text-align: left;
}

div.pagination .thispage {
	padding: 1px;
	font-size: 12px;
	border-width: 1px;
	border-style: solid;
	border-color: #afafb0; /* Gin-nezu */
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-opera-border-radius: 2px;
}
