/* $Id: profile.css,v 1.7 2010/07/12 08:08:38 ak Exp $ */
/* Copyright 2009,2010 Cubicroot Co. Ltd. */
/* Profile classes */
div.profile {
	/* Based on 'result' class */
	margin: 6px 1px 12px 18px;
	padding: 4px;
	border-width: 1px;
	border-color: #c1e4e9; /* Shiraai */
	border-style: solid;
	background-color: #fffffc; /* Gofun-iro */
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-opera-border-radius: 4px;
}

div.profile table {
	width: 90%;
	margin: 8px 4px 4px 4px;
	font-size: 11px;
	border-collapse: separate;
	border-spacing: 2px 6px;
}

div.profile td.key { /* LHS */
	width: 128px;
	padding: 2px 4px;
	border-width: 0 0 1px 0;
	border-color: #dcdddd; /* Shironezu */
	border-style: dotted;
	font-weight: bold;
	vertical-align: middle;
}

div.profile td.value {
	padding: 4px 0 4px 12px;
	border-width: 0 0 1px 0;
	border-color: #dcdddd; /* Shironezu */
	border-style: dotted;
	vertical-align: middle;
	color: #455765; /* Tetsuonando */
}

td ul {
	padding: 2px;
}

td ul li {
	margin: 0 0 0 2px;
	padding: 0;
	list-style-position: inside;
	list-style-type: disc;
	color: #595857;	/* Sumi */
}

span.largestring {
	font-size: 14px;
}
