/* $Id: reason.css,v 1.3 2010/06/21 09:47:10 ak Exp $ */
/* Copyright 2009,2010 Cubicroot Co. Ltd. */
/* Reason classes */
div.reason {
	width: 72px;
	padding: 2px 4px;
	color: #16160e; /* Ankokushoku */
	border-style: solid;
	border-width: 2px;
	border-color: #16160e; /* Ankokushoku */
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-opera-border-radius: 4px;
}
div.undefined	{ background: #222222; color: #f8fbf8; }
div.userunknown	{ background: #e2041b; color: #f8fbf8; }
div.hostunknown	{ background: #e83929; color: #f8fbf8; }
div.hasmoved	{ background: #ee7800; }
div.filtered	{ background: #ea5506; color: #f8fbf8; }
div.mailboxfull	{ background: #b8d200; }
div.exceedlimit	{ background: #c3d825; }
div.systemfull	{ background: #00a497; color: #f8fbf8; }
div.notaccept	{ background: #0094c8; color: #f8fbf8; }
div.mesgtoobig	{ background: #007b43; color: #f8fbf8; }
div.suspend	{ background: #752100; color: #f8fbf8; }
div.mailererror	{ background: #44617b; color: #f8fbf8; }
div.securityerr	{ background: #1e50a2; color: #f8fbf8; }
div.whitelisted	{ background: #eeeeee; border-color: #888888; }
div.unstable	{ background: #674196; color: #f8fbf8; }
div.onhold	{ background: #595857; color: #f8fbf8; }
div.void	{ background: #9ea1a3; color: #383c3c; border-color: #383c3c; }

