/* $Id: record.css,v 1.6.2.1 2011/06/25 10:48:31 ak Exp $ */
/* Copyright 2009,2010 Cubicroot Co. Ltd. */
/* Record classes */
div.record {
	margin: 2px 0;
	padding: 2px 0;
	text-align: left;
}

div.record .recordsummary {
	margin: 0;
	padding: 4px 0px 1px 0px;
	border-style: solid;
	border-width: 1px;
	border-color: #9ea1a3; /* Suzu-iro */
	background: #fffffc; /* Gofun-iro */
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-opera-border-radius: 4px;
}

div.record .recordsummary:hover {
	border-color: #2ca9e1; /* Ama-iro */
	background: #f7fcfe; /* Unohana-iro */
}

div.record .recordsummary h4 {
	background-color: #9ea1a3; /* Suzu-iro */
	color: #f8fbf8; /* Hakuji */
	text-shadow: -1px -1px 0 #7b7c7d; /* Namari-Iro */
}

div.record .recordsummary:hover h4 {
	background-color: #2ca9e1; /* Ama-iro */
}

div.record .isremoved
{
	background: #9ea1a3; /* Suzu-iro */
	margin: 0;
}

div.record .recorddetails {
	margin: 4px 0 0 0;
	padding: 1px 0 4px 0;
	border-style: dotted;
	border-width: 0;
}

div.record .number-in-summary {
	margin: 0;
	padding: 4px 2px 3px 4px;
	width: 96px;
	size: 12px;
	font-weight: bold;
	float: left;
}

div.record .number-in-summary div.id {
	margin: 0 0 2px 0;
	font-size: 12px;
	font-weight: bold;
	color: #595857; /* Sumi */
}

div.record .fields-in-summary {
	margin: 0 64px 0 96px;
	padding: 0;
}

div.record .fields-in-summary table {
	border-collapse: collapse;
}

div.record .status-in-summary {
	width: 64px;
	margin: 0;
	padding: 2px 4px 0 0;
	float: right;
	vertical-align: bottom;
	text-align: right;
}

div.record .status-in-summary div.frequency {
	margin: 0 0 4px 0;
	font-size: 18px;
	font-weight: bold;
	color: #595857; /* Sumi */
}

tr.boundary td { 
	margin: 0;
	padding: 0;
}

td.key { /* LHS */
	margin: 2px 0;
	padding: 2px 8px 2px 3px;
	font-weight: bold;
	vertical-align: middle;
	font-size: 10px;
}

div.record td.key, div.record td.value, div.record td.extra {
	border-width: 0 0 1px 0;
	border-style: dotted;
	border-color: #ebf6f7; /* Shiraumenezu */
}

td.value, td.extra {
	margin: 2px 0;
	padding: 2px 0 2px 4px;
	font-size: 11px;
}

td.key-in-summary {
	margin: 0;
	font-weight: bold;
	vertical-align: middle;
	font-size: 11px;
}

td.value-in-summary {
	margin: 0;
	vertical-align: middle;
	font-size: 11px;
}

input.selectable {
	width: 400px;
	margin: 0;
	padding: 2px;
	color: #524e4d; /* Keshizumi-iro */
	background: inherit;
	border-color: #d4dcd6;	/* Sobakiri-iro */
	border-width: 1px;
	border-style: solid;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-opera-border-radius: 4px;
}

input.selectable:hover {
	border-color: #2ca9e1; /* Ama-iro */
}

input.emailaddress {
	width: 400px;
	padding: 1px 2px 1px 0;
	color: #524e4d; /* Keshizumi-iro */
	background: inherit;
	border-width: 0;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	-opera-border-radius: 1px;
}
