/* $Id: search.css,v 1.1.2.2 2011/01/15 21:02:15 ak Exp $ */
/* Copyright 2009,2010 Cubicroot Co. Ltd. */
/* Search form classes */
div#search-condition {
	background: #f8fbf8; /* Hakuji */
	padding: 8px 2px;
	border-color: #c1e4e9; /* Geppaku */
	border-width: 1px;
	border-style: solid;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-opera-border-radius: 4px;
}

div#search-condition div.subgroup {
	margin-top: 12px;
	padding-top: 12px;
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: #d4dcd6;	/* Sobakiri-iro */
}

div#search-query {
	margin: 6px 1px 12px 2px;
	padding: 0;
	border-width: 1px;
	border-color: #c1e4e9; /* Shiraai */
	border-style: solid;
	background-color: #fffffc; /* Gofun-iro */
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-opera-border-radius: 4px;
}

div#search-query div.query-title {
	margin: 4px 2px;
	padding: 2px 4px;
	color: #426579; /* Noshimehana-iro */
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px;
	-opera-border-radius: 4px;
	font-size: 11px;
}

table.where-condition {
	margin: 4px 12px;
	font-size: 11px;
}

table.where-condition td.fieldname {
	width: 128px;
	font-weight: bold;
}

table.where-condition td.fieldname:before {
	content: '* ';
}

table.where-condition td.fieldname:after {
	content: ': ';
}



