/* $Id: summary.css,v 1.6 2010/06/28 13:16:36 ak Exp $ */
/* Copyright 2009,2010 Cubicroot Co. Ltd. */
/* Summary classes */
div.summary {
	/* Based on 'result' class */
	margin: 6px 1px 12px 18px;
	padding: 4px;
	border-width: 1px;
	border-color: #c1e4e9; /* Shiraai */
	border-style: solid;
	background-color: #ebf6f7; /* Aijiro */
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-opera-border-radius: 4px;
}

div.summary table {
	width: 512px;
	margin: 8px 4px 4px 4px;
	font-size: 11px;
	border-collapse: separate;
	border-spacing: 2px 4px;
}

div.summary td.key { /* LHS */
	width: 128px;
	padding: 2px 4px;
	font-weight: bold;
	border-width: 0 0 1px 0;
	border-color: #dcdddd; /* Shironezu */
	border-style: dotted;
	vertical-align: middle;
}

div.summary td.value {
	padding: 2px 0 2px 4px;
	border-width: 0 0 1px 0;
	border-color: #dcdddd; /* Shironezu */
	border-style: dotted;
}

div.graph {
	width: 320px;
	border-width: 1px;
	border-style: solid;
	border-color: #007bbb; /* Kompeki */
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-opera-border-radius: 4px;
}

div.graph div.used {
	background: #007bbb; /* Kompeki */
	-webkit-border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	-opera-border-radius: 4px 0 0 4px;
}

