[%- PROCESS "heads.tt" -%]
[%- PROCESS "words.tt" -%]
[%- PROCESS "terms.tt" -%]
[%- PROCESS "reason.tt" -%]
[%- PROCESS "hostgroup.tt" -%]
[% INCLUDE "dtd-xhtml.html" %]
<head>
	[% INCLUDE "meta-http-equiv.html" %]
	<title>[% pv_systemname %]/[% tt_head.aggregatedby %]/[% tt_term.${pv_columnname} %]</title>
	[% pv_prototype.define_javascript_functions %]
	<script type = 'text/javascript'>
		[% INCLUDE bouncehammer.js %]
	</script>
	<style type = 'text/css'>
	<!--
		[% INCLUDE bouncehammer.css %]
		[% INCLUDE aggregate.css %]
		[% IF pv_columnname == 'reason' %][% INCLUDE reason.css %][% END %]
	-->
	</style>
</head>
<body>
	<div id = 'ThePage'>
		<h1>[% pv_head1title %]/[% tt_head.aggregatedby %]/[% tt_term.${pv_columnname} %]</h1>
		<div id = 'North-Ward'>
			[% INCLUDE "div-menubar.html" %]
		</div>
		<div id = 'West-Ward'>
			[%- IF pv_columnname == 'addresser' %]
				[%- SET tt_menu.aggregate.addresser = 'currentpage' -%]
			[%- END -%]
			[%- IF pv_columnname == 'senderdomain' %]
				[%- SET tt_menu.aggregate.senderdomain = 'currentpage' -%]
			[%- END -%]
			[%- IF pv_columnname == 'destination' %]
				[%- SET tt_menu.aggregate.destination = 'currentpage' -%]
			[%- END -%]
			[%- IF pv_columnname == 'reason' %]
				[%- SET tt_menu.aggregate.reason = 'currentpage' -%]
			[%- END -%]
			[%- IF pv_columnname == 'hostgroup' %]
				[%- SET tt_menu.aggregate.hostgroup = 'currentpage' -%]
			[%- END -%]
			[%- IF pv_columnname == 'provider' %]
				[%- SET tt_menu.aggregate.provider = 'currentpage' -%]
			[%- END -%]
			[% INCLUDE "div-index.html" %]
		</div>
		<div id = 'East-Ward'>
			[%- IF pv_columnname == 'addresser' %]
				[% INCLUDE "help-addresser.html" %]
			[%- END -%]
			[%- IF pv_columnname == 'senderdomain' %]
				[% INCLUDE "help-senderdomain.html" %]
			[%- END -%]
			[%- IF pv_columnname == 'destination' %]
				[% INCLUDE "help-destination-domain.html" %]
			[%- END -%]
			[%- IF pv_columnname == 'reason' %]
				[% INCLUDE "help-reason.html" %]
			[%- END -%]
			[%- IF pv_columnname == 'hostgroup' %]
				[% INCLUDE "help-hostgroup.html" %]
			[%- END -%]
			[%- IF pv_columnname == 'provider' %]
				[% INCLUDE "help-provider.html" %]
			[%- END -%]
		</div>

		<div id = 'Central-Ward'>
			[%- IF pv_columnname -%]
			[%- SET tt_scale = 240 -%]
			<h2>[% tt_head.aggregatedby %]([% tt_term.${pv_columnname} %])</h2>
			<div class = 'aggregation'>
				<table>
					<thead><tr>
						<th> &nbsp; </th>
						<th>[% tt_word.numofrecs %]</th>
						<th>[% tt_term.freq %]</th>
						<th>[% tt_word.graph %]([% tt_word.numofrecs %])</th>
						<th>[% tt_word.ratio %]</th>
					</tr><thead>
					<tbody>
					[%- FOREACH E IN pv_aggregated -%]
					<tr>
						<td class = 'name'>
							[%- IF pv_columnname == 'reason' -%]
								<div class = 'reason [% E.name %]' 
									title = '[% tt_reason.${E.name} %][% tt_tellmewhy.${E.name} %]'>[% E.name %]</div>
							[%- ELSIF pv_columnname == 'hostgroup' -%]
								<span title = '[% tt_hostgroup.${E.name} %][% tt_groupmember.${E.name} %]'>[% E.name %]</div>
							[%- ELSE -%]
								[% E.name %]
							[%- END -%]
						</td>
						<td class = 'numeral'>[% E.size %]</td>
						<td class = 'numeral'>[% E.freq %]</td>
						<td class = 'graph'>
							[%- SET tt_width = E.ratio * tt_scale %]
							<div class = 'bargraph'>
								<div class = 'used' style = 'width: [% tt_width %]px;'>&nbsp;</div>
							</div>
						</td>
						<td class = 'numeral'>[%- E.ratio * 100 -%] %</td>
					</tr>
					[%- END -%]
					</tbody>
				</table>
			</div>

			<h2>[% tt_head.descriptivestat %]([% tt_term.${pv_columnname} %])</h2>
			<div class = 'aggregation'>
				<table>
					<thead><tr>
						<th> &nbsp; </th>
						<th>[% tt_word.numofrecs %]</th>
						<th>[% tt_term.freq %]</th>
						<th>[% tt_word.graph %]([% tt_word.numofrecs %])</th>
						<th>[% tt_word.ratio %]</th>
					</tr></thead>
					<tbody>
					[%- FOREACH X IN [ 'sum', 'min', 'mean', 'max', 'stddev' ] -%]
					<tr>
						<td class = 'name'>[% tt_word.$X %]</td>
						<td class = 'numeral'>[% pv_summarized.size.$X %]</td>
						<td class = 'numeral'>[% pv_summarized.freq.$X %]</td>
						<td class = 'graph'>
							[%- SET tt_width = pv_summarized.size.$X / pv_summarized.size.sum * tt_scale -%]
							<div class = 'bargraph'>
								<div class = 'used' style = 'width: [% tt_width %]px;'>&nbsp;</div>
							</div>
						</td>
						<td class = 'numeral'>
							&nbsp;
							[%- IF X == 'sum' -%]100.00 %[%- END -%]
						</td>
					</tr>
					[%- END -%]
					</tbody>
				</table>
			</div>
			[%- ELSE -%]
				[%- INCLUDE "div-error.html" -%]
			[%- END -%]
		</div>
		<div id = 'South-Ward'>
		</div>
		[% INCLUDE "div-pagefooter.html" %]

	</div>
</body>
</html>

