[%- PROCESS "heads.tt" -%]
[%- PROCESS "words.tt" -%]
[%- PROCESS "terms.tt" -%]
[%- PROCESS "hostgroup.tt" -%]
[% INCLUDE "dtd-xhtml.html" %]
<head>
	[% INCLUDE "meta-http-equiv.html" %]
	<title>[% pv_systemname %]/[% tt_head.listof %]/[% pv_listfile %]</title>
	[% pv_prototype.define_javascript_functions %]
	<script type = 'text/javascript'>
		[% INCLUDE bouncehammer.js %]
	</script>
	<style type = 'text/css'>
	<!--
		[% INCLUDE bouncehammer.css %]
		[% INCLUDE profile.css %]
		[% INCLUDE country.css %]
		[% INCLUDE nationalflag.css %]
	-->
	</style>
</head>
<body>
	<div id = 'ThePage'>
		<h1>[% pv_head1title %]/[% tt_head.listof %]/[% pv_listfile %]</h1>
		<div id = 'North-Ward'>
			[% INCLUDE "div-menubar.html" %]
		</div>
		<div id = 'West-Ward'>
			[%- SET tt_menu.listof.countries = 'currentpage' -%]
			[% INCLUDE "div-index.html" %]
		</div>
		<div id = 'East-Ward'>
			[% INCLUDE "help-available-countries.html" %]
		</div>

		<div id = 'Central-Ward'>
			[%- IF pv_issample == 1 -%]
				[%- SET tt_fileclass = 'errortext' -%]
			[%- ELSE -%]
				[%- SET tt_fileclass = 'x' -%]
			[%- END -%]
			<h2>[% pv_listfile %]</h2>
			<div class = 'profile'>
				<table>
					<tbody>
						<tr>
							<td class = 'key'>
								[% tt_word.file %]
								[%- IF pv_issample == 1 -%](Example)[%- END -%]
							</td>
							<td class = 'value'>
								<span class = '[% tt_fileclass %]'>[% pv_listpath %]</span>
							</td>
						</tr>
						<tr>
							<td class = 'key'>[% tt_word.format %]</td>
							<td class = 'value'>YAML</td>
						</tr>
						<tr>
							<td class = 'key'>[% tt_term.updated %]</td>
							<td class = 'value'>[% pv_listtime %]</td>
						</tr>
					</tbody>
				</table>
			</div>

			<h2>Available Countries[% IF pv_issample == 1 %]([% tt_word.default %])[% END %]</h2>
			<div class = 'contents'>
				<table>
					<thead>
						<tr>
							<th class = 'group' colspan = '2'>[% tt_word.country %]</th>
							<th class = 'group' colspan = '3'>[% tt_term.hostgroup %]</th>
							<th></th>
						</tr>
						<tr class = 'head'>
							<th>ccTLD</th>
							<th>[% tt_word.countryname %]</th>
							<th>[% tt_hostgroup.webmail %]</th>
							<th>[% tt_hostgroup.smartphone %]</th>
							<th>[% tt_hostgroup.cellphone %]</th>
							<th>MTA</th>
						</tr>
					</thead>
					<tbody>
					[%- FOREACH CC IN pv_listdata -%]
					<tr>
						<td class = 'cctld'>
							<a href = 'javascript:void(0);' onClick = "toggleIt('[% CC.key %]-providers');">
								<span class = '[% CC.key %]'> [% CC.value.code %]</span></a>
						</td>
						<td class = 'cname'>[% CC.value.name %]</td>
						<td class = 'bool'>
							[%- IF CC.value.webmail != "" -%]
								[%- IF CC.value.webmail > 0 -%]
									<span class = 'available' title = '[% CC.value.class.webmail %]'>
									[%- tt_word.use -%]</span>
								[%- ELSIF CC.value.webmail == 0 -%]
									<span class = 'errortext'>[%- tt_word.disuse -%]</span>
								[%- ELSE -%]
									<span class = 'voidtext'>NA</span>
								[%- END -%]
							[%- ELSE -%]
								<span class = 'voidtext'>NA</span>
							[%- END -%]
						</td>
						<td class = 'bool'>
							[%- IF CC.value.smartphone != "" -%]
								[%- IF CC.value.smartphone > 0 -%]
									<span class = 'available' title = '[% CC.value.class.smartphone %]'>
									[%- tt_word.use -%]</span>
								[%- ELSIF CC.value.smartphone == 0 -%]
									<span class = 'errortext'>[%- tt_word.disuse -%]</span>
								[%- ELSE -%]
									<span class = 'voidtext'>NA</span>
								[%- END -%]
							[%- ELSE -%]
								<span class = 'voidtext'>NA</span>
							[%- END -%]
						</td>
						<td class = 'bool'>
							[%- IF CC.value.cellphone != "" -%]
								[%- IF CC.value.cellphone > 0 -%]
									<span class = 'available' title = '[% CC.value.class.cellphone %]'>
									[%- tt_word.use -%]</span>
								[%- ELSIF CC.value.cellphone == 0 -%]
									<span class = 'errortext'>[%- tt_word.disuse -%]</span>
								[%- ELSE -%]
									<span class = 'voidtext'>NA</span>
								[%- END -%]
							[%- ELSE -%]
								<span class = 'voidtext'>NA</span>
							[%- END -%]
						</td>
						<td class = 'bool'>
							[%- IF CC.value.agents == "" -%]
								<span class = 'voidtext'>NA</span>
							[%- ELSE -%]
								<span class = 'available'>[% tt_word.use %]</span>
							[%- END -%]
						</td>
					</tr>

					<tr id = '[% CC.key %]-providers' style = 'display: none;' class = 'provider'>
						<td class = 'cctld'> &nbsp; </td>
						<td class = 'cname'> &nbsp; </td>
						<td class = 'list'>
							[%- IF CC.value.webmail != "" -%]
								<dl><dt>[% tt_hostgroup.webmail %]</dt>
								<dd><ul>
								[%- FOREACH PN IN CC.value.provider.webmail -%]
									<li>[%- PN.key -%]</li> 
								[%- END -%]
							[%- ELSE -%]
								&nbsp;
							</ul></dd></dl>
							[%- END -%]
						</td>
						<td class = 'list'>
							[%- IF CC.value.smartphone != "" -%]
								<dl><dt>[% tt_hostgroup.smartphone %]</dt>
								<dd><ul>
								[%- FOREACH PN IN CC.value.provider.smartphone -%]
									<li>[%- PN.key -%]</li> 
								[%- END -%]
								</ul></dd></dl>
							[%- ELSE -%]
								&nbsp;
							[%- END -%]
						</td>
						<td class = 'list'>
							[%- IF CC.value.cellphone != "" -%]
								<dl><dt>[% tt_hostgroup.cellphone %]</dt>
								<dd><ul>
								[%- FOREACH PN IN CC.value.provider.cellphone -%]
									<li>[%- PN.key -%]</li> 
								[%- END -%]
								</ul></dd></dl>
							[%- ELSE -%]
								&nbsp;
							[%- END -%]
						</td>
						<td class = 'list'>
							[%- IF CC.value.agents != "" -%]
								<dl><dt title = 'Kanadzuchi::MTA::[% CC.value.code %]::*'>MTA</dt>
								<dd><ul>
								[%- FOREACH MTA IN CC.value.agents -%]
									<li>[% MTA %]</li>
								[%- END -%]
								</ul></dd></dl>
							[%- ELSE -%]
								&nbsp;
							[%- END -%]
						</td>
					</tr>
					[% END %]
				</tbody>
				</table>
			</div>
		</div>
		<div id = 'South-Ward'>
		</div>
		[% INCLUDE "div-pagefooter.html" %]

	</div>
</body>
</html>

