[% INCLUDE "dtd-xhtml.html" %]
<head>
	[% INCLUDE "meta-http-equiv.html" %]
	<title>[% systemname %]/Tables/[% titlename %]</title>
	[% prototype.define_javascript_functions %]
	<script type = 'text/javascript'>
		[% INCLUDE bouncehammer.js %]
	</script>
	<style type = 'text/css'>
	<!--
	[% INCLUDE bouncehammer.css %]
	[% INCLUDE mastertable.css %]
	[% INCLUDE reason.css %]
	[% INCLUDE pagination.css %]
	-->
	</style>
	[%- SET showmastertables = 1 -%]
</head>
<body>
	<div id = 'ThePage'>
		<h1>[% head1title %]/Tables/[% titlename %]</h1>
		<div id = 'North-Ward'>
			[% INCLUDE "div-menubar.${mylanguage}.html" %]
		</div>
		<div id = 'West-Ward'>
			[% INCLUDE "div-index.${mylanguage}.html" %]
		</div>
		<div id = 'East-Ward'>
			[%- IF tablename == 'senderdomains' %]
				[% INCLUDE "h-senderdomain-descr.${mylanguage}.html" %]
			[%- END -%]
			[%- IF tablename == 'destinations' %]
				[% INCLUDE "h-destination-descr.${mylanguage}.html" %]
			[%- END -%]
			[%- IF tablename == 'reasons' %]
				[% INCLUDE "h-reason-select.${mylanguage}.html" %]
			[%- END -%]
			[%- IF tablename == 'hostgroups' %]
				[% INCLUDE "h-hostgroup-select.${mylanguage}.html" %]
			[%- END -%]
		</div>

		<div id = 'Central-Ward'>
			[%- IF errormessage -%]
				<h2>Error</h2>
				<div class = 'result'><p class = 'exception'>[%- errormessage -%]</p></div>
			[%- END -%]
			
			<h2>Master Table([% titlename %])</h2>
			<div class = 'pagination'>
				[% INCLUDE "div-pagination.${mylanguage}.html" %]
			</div>
			<div class = 'result'>
				<table class = 'tableheadings'>
					<thead class = 'mastertable'>
						<tr>
							<th class = 'theID'>
								<form action = '[% "${scriptname}/tables/${tablename}/sort/id" %]' method = 'POST' id = 'sortbyid'>
									<input type = 'hidden' name = 'language' value = '[% mylanguage %]' />
									<a href = "javascript:void(0);" onClick = "sortbyid.submit(); return(false);"
										title = 'Sort by ID'>[%- IF sortby == 'Id' -%]*[%- END -%]ID &#9652;</a>
								</form>
							</th>
							<th class = 'theName'>
								<form action = '[% "${scriptname}/tables/${tablename}/sort/${fieldname}" %]' method = 'POST' id = 'sortbyname'>
									<input type = 'hidden' name = 'language' value = '[% mylanguage %]' />
									<a href = "javascript:void(0);" onClick = "sortbyname.submit(); return(false);"
										title = 'Sort by [% fieldname %]'>
										[%- IF sortby == fieldname -%]*[%- END -%][% fieldname %] &#9652;</a>
								</form>
							</th>
							<th class = 'theDescription'>
								<form action = '[% "${scriptname}/tables/${tablename}/sort/description" %]' method = 'POST' id = 'sortbydesc'>
									<input type = 'hidden' name = 'language' value = '[% mylanguage %]' />
									<a href = "javascript:void(0);" onClick = "sortbydesc.submit(); return(false);" 
										title = 'Sort by Description'>
										[%- IF sortby == 'description' -%]*[%- END -%]description &#9652;</a>
								</form>
							</th>
							<th class = 'theMethod'>&nbsp; </th>
						</tr>
					</thead>
				</table>
				[% INCLUDE "div-mastertable-contents.${mylanguage}.html" %]

				<div id = 'here_is_old_record' class = 'mastertable'>
					[% INCLUDE "div-mastertable-removed.${mylanguage}.html" %]
				</div>

				<div id = 'here_is_new_record' class = 'stored'></div>

				[%- IF ( tablename == 'senderdomains' OR tablename == 'destinations' ) AND isreadonly == 0 -%]
					[% INCLUDE "div-create-a-new-mastertable-record.${mylanguage}.html" %]
					[% INCLUDE "div-delete-a-mastertable-record.${mylanguage}.html" %]
				[%- END -%]
			</div>
			[%- IF pagination.resultsperpage > 10 AND pagination.count > 10 AND hascondition > 0 -%]
				<div class = 'pagination'>
					[% INCLUDE "div-pagination.${mylanguage}.html" %]
				</div>
			[%- END -%]
		</div>
		<div id = 'South-Ward'>
		</div>
		[% INCLUDE "div-pagefooter.html" %]

	</div>
</body>
</html>

