[%- PROCESS "heads.tt" -%]
[%- PROCESS "words.tt" -%]
[%- PROCESS "terms.tt" -%]
[%- PROCESS "hostgroup.tt" -%]
[%- PROCESS "reason.tt" -%]
[%- PROCESS "desc.tt" -%]
[% INCLUDE "dtd-xhtml.html" %]
<head>
	[% INCLUDE "meta-http-equiv.html" %]
	<title>[% pv_systemname %]/[%- tt_head.messagetoken %]</title>
	[% pv_prototype.define_javascript_functions %]
	<script type = 'text/javascript'>
		[% INCLUDE bouncehammer.js %]
	</script>
	<style type = 'text/css'>
	<!--
	[% INCLUDE bouncehammer.css %]
	[% INCLUDE record.css %]
	[% INCLUDE messagetoken.css %]
	-->
	</style>
</head>
<body>
	<div id = 'ThePage'>
		<h1>[% pv_head1title %]/[%- tt_head.messagetoken -%]</h1>
		<div id = 'North-Ward'>
			[% INCLUDE "div-menubar.html" %]
		</div>
		<div id = 'West-Ward'>
			[%- SET tt_menu.token = 'currentpage' -%]
			[% INCLUDE "div-index.html" %]
		</div>
		<div id = 'East-Ward'>
			[% INCLUDE "help-messagetoken.html" %]
		</div>

		<div id = 'Central-Ward'>
			<h2>[%- tt_term.token -%](MD5)</h2>
			<div class = 'result'>
				[%- pv_prototype.form_remote_tag( {
						url => "${pv_scriptname}/token",
						update => 'jx_here_is_new_message_token',
						position => 'Before',
						before => "disableIt('jx_make_token');",
						loaded => "enableIt('jx_make_token'); ra.value = ''; sa.value = '';",
					});
				-%]
				<fieldset>
					<table>
					<tbody>
						<tr>
							<td class = 'key'>[%- tt_term.addresser -%]</td>
							<td class = 'value'>
								<input type = 'text' name = 'fe_addresser' style = 'width: 384px;'
									id = 'jx_sa' class = 'wide' placeholder = 'Sender(From) address' 
									autosave = '[% pv_systemname %].addresser' results = '16' 
									onChange = "jx_checksa.innerHTML='&#9745; [% tt_word.use %]';"/>
							</td>
							<td class = 'extra' id = 'jx_checksa'></td>
						</tr>

						<tr>
							<td class = 'key'>[%- tt_term.recipient -%]</td>
							<td class = 'value'>
								<input type = 'text' name = 'fe_recipient' style = 'width: 384px;'
									id = 'jx_ra' class = 'wide' placeholder = 'Recipient(To) Address'
									autosave = '[% pv_systemname %].recipient'
									results = '16' onChange = "jx_checkra.innerHTML='&#9745; [% tt_word.use %]';" />
							</td>
							<td class = 'extra' id = 'jx_checkra'></td>
						</tr>

						<tr>
							<td class = 'key'>
								<input type = 'hidden' name = 'fe_makenewtoken' value = '1' />
								<input type = 'submit' value = '[%- tt_word.make -%]' 
									id = 'jx_make_token' class = 'flatbutton' />
							</td>
							<td class = 'value'> </td>
							<td class = 'extra'> </td>
						</tr>
					</tbody>
					</table>
				</fieldset>
				</form>
			</div>
			<div class = 'result'>
				<div id = 'jx_here_is_new_message_token'></div>
			</div>
		</div>
		<div id = 'South-Ward'>
		</div>
		[% INCLUDE "div-pagefooter.html" %]
	</div>
</body>
</html>

