[%- PROCESS "heads.tt" -%]
[%- PROCESS "words.tt" -%]
[%- PROCESS "terms.tt" -%]
[% INCLUDE "dtd-xhtml.html" %]
<head>
	[% INCLUDE "meta-http-equiv.html" %]
	<title>[% pv_systemname %]/[% tt_head.listof %]/[% pv_listfile %]</title>
	[% pv_prototype.define_javascript_functions %]
	<script type = 'text/javascript'>
		[% INCLUDE bouncehammer.js %]
	</script>
	<style type = 'text/css'>
	<!--
		[% INCLUDE bouncehammer.css %]
		[% INCLUDE profile.css %]
	-->
	</style>
</head>
<body>
	<div id = 'ThePage'>
		<h1>[% pv_head1title %]/[% tt_head.listof %]/[% pv_listfile %]</h1>
		<div id = 'North-Ward'>
			[% INCLUDE "div-menubar.html" %]
		</div>
		<div id = 'West-Ward'>
			[%- SET tt_menu.listof.neighbors = 'currentpage' -%]
			[% INCLUDE "div-index.html" %]
		</div>
		<div id = 'East-Ward'>
			[% INCLUDE "help-neighbor-domains.html" %]
		</div>

		<div id = 'Central-Ward'>
			[%- IF pv_issample == 1 -%]
				[%- SET tt_fileclass = 'errortext' -%]
			[%- ELSE -%]
				[%- SET tt_fileclass = 'x' -%]
			[%- END -%]
			<h2>[% pv_listfile %]</h2>
			<div class = 'profile'>
				<table>
					<tbody>
						<tr>
							<td class = 'key'>
								[% tt_word.file %]
								[%- IF pv_issample == 1 -%](Example)[%- END -%]
							</td>
							<td class = 'value'><span class = '[% tt_fileclass %]'>[% pv_listpath %]</span></td>
						</tr>
						<tr>
							<td class = 'key'>[% tt_word.format %]</td>
							<td class = 'value'>YAML</td>
						</tr>
						<tr>
							<td class = 'key'>[% tt_term.updated %]</td>
							<td class = 'value'>[% pv_listtime %]</td>
						</tr>
						<tr>
							<td class = 'key'>[% tt_head.definedproviders %]</td>
							<td class = 'value'>[%- FOREACH PN IN pv_listdata -%][%- PN.key -%] &nbsp; [%- END -%]</td>
						</tr>

					</tbody>
				</table>
			</div>

			[%- FOREACH PN IN pv_listdata -%]
			<h2>* [% PN.key %]</h2>
			<div class = 'profile'>
				<ul>
					[%- FOREACH DN IN PN.value -%]
						<li>[% DN %]</li>
					[%- END -%]
				</ul>
			</div>
			[% END %]
		</div>
		<div id = 'South-Ward'>
		</div>
		[% INCLUDE "div-pagefooter.html" %]

	</div>
</body>
</html>

