[% INCLUDE "dtd-xhtml.html" %]
<head>
	[% INCLUDE "meta-http-equiv.html" %]
	<title>[% systemname %]/Profile</title>
	[% prototype.define_javascript_functions %]
	<script type = 'text/javascript'>
		[% INCLUDE bouncehammer.js %]
	</script>
	<style type = 'text/css'>
	<!--
		[% INCLUDE bouncehammer.css %]
		[% INCLUDE profile.css %]
	-->
	</style>
</head>
<body>
	<div id = 'ThePage'>
		<h1>[% head1title %]/Profile</h1>
		<div id = 'North-Ward'>
			[% INCLUDE "div-menubar.${mylanguage}.html" %]
		</div>
		<div id = 'West-Ward'>
			[% INCLUDE "div-index.${mylanguage}.html" %]
		</div>
		<div id = 'East-Ward'> </div>

		<div id = 'Central-Ward'>

			<h2>System Profile</h2>
			<div class = 'profile'>
				<table>
					<tbody>
						<tr>
							<td class = 'key'>System Name</td>
							<td class = 'value'>[% systemname %]</td>
						</tr>

						<tr>
							<td class = 'key'>System/Config File Version</td>
							<td class = 'value'><span style = 'font-size:13px;'>[% sysversion %]</span>/[% cfversion %]</td>
						</tr>

						<tr>
							<td class = 'key'>Default Language</td>
							<td class = 'value'>[% syslanguage %]</td>
						</tr>
					</tbody>
				</table>
			</div>

			<h2>Server Profile</h2>
			<div class = 'profile'>
				<table>
					<tbody>
						<tr>
							<td class = 'key'>Server Name</td>
							<td class = 'value'>[% serverhost %]</td>
						</tr>
						<tr>
							<td class = 'key'>Server Software</td>
							<td class = 'value'>[% serversoftware %]</td>
						</tr>

						<tr>
							<td class = 'key'>Script Engine</td>
							<td class = 'value'>[% scriptengine %]</td>
						</tr>

						<tr>
							<td class = 'key'>Uptime/Load</td>
							<td class = 'value'>[% sysuptime %]</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div id = 'South-Ward'>
		</div>
		[% INCLUDE "div-pagefooter.html" %]

	</div>
</body>
</html>

