[%- PROCESS "heads.tt" -%]
[%- PROCESS "words.tt" -%]
[%- PROCESS "terms.tt" -%]
[% INCLUDE "dtd-xhtml.html" %]
<head>
	[% INCLUDE "meta-http-equiv.html" %]
	<title>[% systemname %]/[% head.systemprof %]</title>
	[% prototype.define_javascript_functions %]
	<script type = 'text/javascript'>
		[% INCLUDE bouncehammer.js %]
	</script>
	<style type = 'text/css'>
	<!--
		[% INCLUDE bouncehammer.css %]
		[% INCLUDE profile.css %]
	-->
	</style>
</head>
<body>
	<div id = 'ThePage'>
		<h1>[% head1title %]/[% head.systemprof %]</h1>
		<div id = 'North-Ward'>
			[% INCLUDE "div-menubar.html" %]
		</div>
		<div id = 'West-Ward'>
			[% INCLUDE "div-index.html" %]
		</div>
		<div id = 'East-Ward'> </div>

		<div id = 'Central-Ward'>

			<h2>[% head.systemprof %]</h2>
			<div class = 'profile'>
				<table>
					<tbody>
						<tr>
							<td class = 'key'>[% word.systemname %]/[% word.version %]</td>
							<td class = 'value'><strong>[% systemname %] [% sysversion %]</strong></td>
						</tr>

						<tr>
							<td class = 'key'>[% word.configfile %]</td>
							<td class = 'value'>[% sysconfpath %] (ver. [% sysconfig.version %])<br />[% webconfpath %]</td>
						</tr>

						<tr>
							<td class = 'key'>[% word.dbserver %]</td>
							<td class = 'value'>
								[% sysconfig.database.dbname %]
								([% sysconfig.database.dbtype %])
							</td>
						</tr>

						[%- IF sysconfig.database.dbtype != 'SQLite' -%]
							<tr>
								<td class = 'key'>[% word.dbhost %]</td>
								<td class = 'value'>[% sysconfig.database.hostname %]:[% sysconfig.database.port %]</td>
							</tr>
						[%- END -%]
						<tr>
							<td class = 'key'>[% word.compress %] [% word.format %]([% word.download %])</td>
							<td class = 'value'>[% webconfig.archive.compress.type %]</td>
						</tr>

						<tr>
							<td class = 'key'>[% word.encrypt %](URL)</td>
							<td class = 'value'>[% webconfig.security.crypt.cipher %]</td>
						</tr>

						<tr>
							<td class = 'key'>[% word.language %]/[% word.default %]</td>
							<td class = 'value'>
								<strong style = 'font-size:13px;'>[% mylanguage %]</strong>/[% webconfig.language %]
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<h2>[% head.serverprof %]</h2>
			<div class = 'profile'>
				<table>
					<tbody>
						<tr>
							<td class = 'key'>[% word.hostname %]:[% word.port %] [% word.number %]</td>
							<td class = 'value'>[% serverhost %]</td>
						</tr>
						<tr>
							<td class = 'key'>[% word.software %]</td>
							<td class = 'value'>[% serversoftware %]</td>
						</tr>

						<tr>
							<td class = 'key'>[% word.script %] [% word.engine %]</td>
							<td class = 'value'>[% scriptengine %]</td>
						</tr>

						<tr>
							<td class = 'key'>[% word.uptime %]/[% word.loadaverage %]</td>
							<td class = 'value'>[% sysuptime %]</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div id = 'South-Ward'>
		</div>
		[% INCLUDE "div-pagefooter.html" %]

	</div>
</body>
</html>

