[% INCLUDE "dtd-xhtml.html" %]
<head>
	[% INCLUDE "meta-http-equiv.html" %]
	<title>[% systemname %]/システム情報</title>
	[% prototype.define_javascript_functions %]
	<script type = 'text/javascript'>
		[% INCLUDE bouncehammer.js %]
	</script>
	<style type = 'text/css'>
	<!--
		[% INCLUDE bouncehammer.css %]
		[% INCLUDE profile.css %]
	-->
	</style>
</head>
<body>
	<div id = 'ThePage'>
		<h1>[% head1title %]/システム情報</h1>
		<div id = 'North-Ward'>
			[% INCLUDE "div-menubar.${mylanguage}.html" %]
		</div>
		<div id = 'West-Ward'>
			[% INCLUDE "div-index.${mylanguage}.html" %]
		</div>
		<div id = 'East-Ward'> </div>

		<div id = 'Central-Ward'>

			<h2>システム</h2>
			<div class = 'profile'>
				<table>
					<tbody>
						<tr>
							<td class = 'key'>システム名称/バージョン</td>
							<td class = 'value'><strong>[% systemname %] version [% sysversion %]</strong></td>
						</tr>

						<tr>
							<td class = 'key'>設定ファイル</td>
							<td class = 'value'>[% sysconfpath %] (ver. [% sysconfig.version %])<br />[% webconfpath %]</td>
						</tr>

						<tr>
							<td class = 'key'>データベースの種類</td>
							<td class = 'value'>[% sysconfig.database.dbtype %]</td>
						</tr>

						<tr>
							<td class = 'key'>データベース名</td>
							<td class = 'value'>[% sysconfig.database.dbname %]</td>
						</tr>
						[%- IF sysconfig.database.dbtype != 'SQLite' -%]
							<tr>
								<td class = 'key'>データベースホスト:ポート</td>
								<td class = 'value'>[% sysconfig.database.hostname %]:[% sysconfig.database.port %]</td>
							</tr>
						[%- END -%]
						<tr>
							<td class = 'key'>圧縮形式(ダウンロード)</td>
							<td class = 'value'>[% webconfig.archive.compress.type %]</td>
						</tr>

						<tr>
							<td class = 'key'>暗号化方式(URL)</td>
							<td class = 'value'>[% webconfig.security.crypt.cipher %]</td>
						</tr>

						<tr>
							<td class = 'key'>ブラウザの言語/既定値</td>
							<td class = 'value'><strong style = 'font-size:13px;'>[% mylanguage %]</strong>/[% webconfig.language %]</td>
						</tr>
						
					</tbody>
				</table>
			</div>

			<h2>サーバ</h2>
			<div class = 'profile'>
				<table>
					<tbody>
						<tr>
							<td class = 'key'>サーバ名:ポート番号</td>
							<td class = 'value'>[% serverhost %]</td>
						</tr>
						<tr>
							<td class = 'key'>サーバのソフトウェア</td>
							<td class = 'value'>[% serversoftware %]</td>
						</tr>

						<tr>
							<td class = 'key'>スクリプトエンジン</td>
							<td class = 'value'>[% scriptengine %]</td>
						</tr>

						<tr>
							<td class = 'key'>起動時間/負荷</td>
							<td class = 'value'>[% sysuptime %]</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div id = 'South-Ward'>
		</div>
		[% INCLUDE "div-pagefooter.html" %]

	</div>
</body>
</html>

