[%- PROCESS "heads.tt" -%]
[%- PROCESS "words.tt" -%]
[%- PROCESS "terms.tt" -%]
[% INCLUDE "dtd-xhtml.html" %]
<head>
	[% INCLUDE "meta-http-equiv.html" %]
	<title>[% pv_systemname %]/[% tt_head.systemprof %]</title>
	[% pv_prototype.define_javascript_functions %]
	<script type = 'text/javascript'>
		[% INCLUDE bouncehammer.js %]
	</script>
	<style type = 'text/css'>
	<!--
		[% INCLUDE bouncehammer.css %]
		[% INCLUDE profile.css %]
	-->
	</style>
</head>
<body>
	<div id = 'ThePage'>
		<h1>[% pv_head1title %]/[% tt_head.systemprof %]</h1>
		<div id = 'North-Ward'>
			[% INCLUDE "div-menubar.html" %]
		</div>
		<div id = 'West-Ward'>
			[%- SET tt_menu.profile = 'currentpage' -%]
			[% INCLUDE "div-index.html" %]
		</div>
		<div id = 'East-Ward'> </div>

		<div id = 'Central-Ward'>

			<h2>[% tt_head.systemprof %]</h2>
			<div class = 'profile'>
				<table>
					<tbody>
						<tr>
							<td class = 'key'>[% tt_word.systemname %]/[% tt_word.version %]</td>
							<td class = 'value'>
								<span class = 'largestring'>
									<strong>[% pv_systemname %] [% pv_sysversion %]</strong>
								</span>
							</td>
						</tr>

						<tr>
							<td class = 'key'>[% tt_word.configfile %]</td>
							<td class = 'value'>
								[% pv_sysconfpath %] (ver. [% pv_sysconfig.version %])<br />[% pv_webconfpath %]
							</td>
						</tr>

						<tr>
							<td class = 'key'>[% tt_word.dbserver %]</td>
							<td class = 'value'>
								[% pv_sysconfig.database.dbname %]
								([% pv_sysconfig.database.dbtype %])
							</td>
						</tr>

						[%- IF pv_sysconfig.database.dbtype != 'SQLite' -%]
							<tr>
								<td class = 'key'>[% tt_word.dbhost %]</td>
								<td class = 'value'>
									[% pv_sysconfig.database.hostname %]:[% pv_sysconfig.database.port %]
								</td>
							</tr>
						[%- END -%]
						<tr>
							<td class = 'key'>[% tt_word.compress %] [% tt_word.format %]([% tt_word.download %])</td>
							<td class = 'value'>[% pv_webconfig.archive.compress.type %]</td>
						</tr>

						<tr>
							<td class = 'key'>[% tt_word.encrypt %](URL)</td>
							<td class = 'value'>[% pv_webconfig.security.crypt.cipher %]</td>
						</tr>

						<tr>
							<td class = 'key'>[% tt_word.language %]/[% tt_word.default %]</td>
							<td class = 'value'>
								<strong style = 'font-size:13px;'>[% pv_mylanguage %]</strong>/[% pv_webconfig.language %]
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<h2>[% tt_head.serverprof %]</h2>
			<div class = 'profile'>
				<table>
					<tbody>
						<tr>
							<td class = 'key'>[% tt_word.hostname %]:[% tt_word.port %] [% tt_word.number %]</td>
							<td class = 'value'>[% pv_serverhost %]</td>
						</tr>
						<tr>
							<td class = 'key'>[% tt_word.software %]</td>
							<td class = 'value'>[% pv_serversoftware %]</td>
						</tr>

						<tr>
							<td class = 'key'>[% tt_word.script %] [% tt_word.engine %]</td>
							<td class = 'value'>[% pv_scriptengine %]</td>
						</tr>

						<tr>
							<td class = 'key'>[% tt_word.uptime %]/[% tt_word.loadaverage %]</td>
							<td class = 'value'>[% pv_sysuptime %]</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div id = 'South-Ward'>
		</div>
		[% INCLUDE "div-pagefooter.html" %]

	</div>
</body>
</html>

