[%- PROCESS "heads.tt" -%]
[%- PROCESS "words.tt" -%]
[%- PROCESS "terms.tt" -%]
[%- PROCESS "hostgroup.tt" -%]
[%- PROCESS "reason.tt" -%]
[%- PROCESS "error.tt" -%]
[%- PROCESS "desc.tt" -%]
[%- PROCESS "time.tt" -%]
[% INCLUDE "dtd-xhtml.html" %]
<head>
	[% INCLUDE "meta-http-equiv.html" %]
	<title>[% pv_systemname %]/[% tt_head.searchresults %]</title>
	[% pv_prototype.define_javascript_functions %]
	<script type = 'text/javascript'>
		[% INCLUDE bouncehammer.js %]
	</script>
	<style type = 'text/css'>
	<!--
	[% INCLUDE bouncehammer.css %]
	[% INCLUDE search.css %]
	[% INCLUDE reason.css %]
	[% INCLUDE pagination.css %]
	[% INCLUDE record.css %]
	-->
	</style>
</head>
<body>
	<div id = 'ThePage'>
		<h1>[% pv_head1title %]/[% tt_head.searchresults %]</h1>
		<div id = 'North-Ward'>
			[% INCLUDE "div-menubar.html" %]
		</div>
		<div id = 'West-Ward'>
			[%- SET tt_menu.search = 'currentpage' -%]
			[% INCLUDE "div-index.html" %]
		</div>
		<div id = 'East-Ward'>
			[% INCLUDE "help-download-file.html" %]
			[% INCLUDE "help-record-id.html" %]
			[% INCLUDE "help-senderdomain.html" %]
			[% INCLUDE "help-recipient.html" %]
			[% INCLUDE "help-frequency.html" %]
			[% INCLUDE "help-diagnostic-code.html" %]
			[% INCLUDE "help-messagetoken.html" %]
			[% INCLUDE "help-bounced-at.html" %]
			[% INCLUDE "help-updated-at.html" %]
			[% INCLUDE "help-to-update-the-record.html" %]
		</div>

		<div id = 'Central-Ward'>
			[% INCLUDE "form-search-by-recipient.html" %]

			[% IF pv_hascondition > 0 %]
			<div id = 'search-query'>
				<div class = 'query-title'>
					<span id = 'jx_search-query-sign' class = 'toggle-sign'
						onClick = "toggleIt('jx_sent-query'); toggleSign(this);">+</span>
					[%- tt_word.condition -%] ( [%- tt_word.sort -%]: 
					[%- IF pv_pagination.colnameorderby == 'recipient' -%]
						[%- tt_term.recipient -%]
					[%- ELSIF pv_pagination.colnameorderby == 'senderdomain' -%]
						[%- tt_term.senderdomain -%]
					[%- ELSIF pv_pagination.colnameorderby == 'destination' -%]
						[%- tt_term.destination -%]
					[%- ELSIF pv_pagination.colnameorderby == 'bounced' -%]
						[%- tt_term.bounced -%]
					[%- ELSIF pv_pagination.colnameorderby == 'frequency' -%]
						[%- tt_term.frequency -%]
					[%- ELSE -%]
						[%- tt_word.id -%]
					[%- END -%]
					[%- IF pv_pagination.descendorderby == 1 -%]
						/[%- tt_word.descending -%]
					[%- END -%] )
				</div>

				<table class = 'where-condition' id = 'jx_sent-query' style = 'display:none;'>
					<tbody>
					[%- IF pv_searchcondition.recipient -%]
						<tr>
							<td class = 'fieldname'>[%- tt_term.recipient %]</td>
							<td>[%- pv_searchcondition.recipient -%]</td>
						</tr>
					[%- END -%]
					[%- IF pv_searchcondition.addresser -%]
						<tr>
							<td class = 'fieldname'>[%- tt_term.addresser %]</td>
							<td>[%- pv_searchcondition.addresser -%]</td>
						</tr>
					[%- END -%]
					[%- IF pv_searchcondition.senderdomain -%]
						<tr>
							<td class = 'fieldname'>[%- tt_term.senderdomain %]</td>
							<td>[%- pv_searchcondition.senderdomain -%]</td>
						</tr>
					[%- END -%]
					[%- IF pv_searchcondition.destination -%]
						<tr>
							<td class = 'fieldname'>[%- tt_term.destination %]</td>
							<td>[%- pv_searchcondition.destination -%]</td>
						</tr>
					[%- END -%]
					[%- IF pv_searchcondition.reason -%]
						<tr>
							<td class = 'fieldname'>[%- tt_term.reason %]</td>
							<td>
								[%- tt_reason.${pv_searchcondition.reason} -%]
								( [%- pv_searchcondition.reason -%] )
							</td>
						</tr>
					[%- END -%]
					[%- IF pv_searchcondition.hostgroup -%]
						<tr>
						<td class = 'fieldname'>[%- tt_term.hostgroup %]</td>
						<td>
							[%- tt_hostgroup.${pv_searchcondition.hostgroup} -%]
							( [%- pv_searchcondition.hostgroup -%] )
						</td>
					</tr>
					[%- END -%]
					[%- IF pv_searchcondition.provider -%]
						<tr>
							<td class = 'fieldname'>[%- tt_term.provider %]</td>
							<td>[%- pv_searchcondition.provider -%]</td>
						</tr>
					[%- END -%]
					[%- IF pv_searchcondition.token -%]
						<tr>
							<td class = 'fieldname'>[%- tt_term.token %]</td>
							<td>[%- pv_searchcondition.token -%]</td></tr>
					[%- END -%]
					[%- IF pv_searchcondition.frequency -%]
						<tr>
							<td class = 'fieldname'>[%- tt_term.frequency %]</td>
							<td>
								<span style = 'font-size: 13px;'>[% pv_searchcondition.frequency.sign %]</span>
								[% pv_searchcondition.frequency.freq %]
							</td>
						</tr>
					[%- END -%]
					[%- IF pv_searchcondition.bounced -%]
						<tr>
							<td class = 'fieldname'>[%- tt_term.bounced %]</td>
							<td>
								<span style = 'font-size: 13px;'>[% pv_searchcondition.bounced.sign %]</span>
								[% pv_searchcondition.bounced.date %]
							</td>
						</tr>
					[%- END -%]
				</table>
			</div>
			[% END %]

			<div class = 'pagination'>
				[% INCLUDE "div-pagination.html" %]
			</div>
			<div class = 'result'>
				[% INCLUDE "div-result.html" %]
			</div>
			[%- IF pv_pagination.resultsperpage > 4 AND pv_pagination.count > 4 AND pv_hascondition > 0 -%]
				<div class = 'pagination'>
					[% INCLUDE "div-pagination.html" %]
				</div>
			[%- END -%]
		</div>
		<div id = 'South-Ward'>
		</div>
		[% INCLUDE "div-pagefooter.html" %]
	</div>
</body>
</html>

