[% INCLUDE "dtd-xhtml.html" %]
<head>
	[% INCLUDE "meta-http-equiv.html" %]
	<title>[% systemname %]/検索結果</title>
	[% prototype.define_javascript_functions %]
	<script type = 'text/javascript'>
		[% INCLUDE bouncehammer.js %]
	</script>
	<style type = 'text/css'>
	<!--
	[% INCLUDE bouncehammer.css %]
	[% INCLUDE search.css %]
	[% INCLUDE reason.css %]
	[% INCLUDE pagination.css %]
	[% INCLUDE record.css %]
	-->
	</style>
</head>
<body>
	<div id = 'ThePage'>
		<h1>[% head1title %]/検索結果</h1>
		<div id = 'North-Ward'>
			[% INCLUDE "div-menubar.${mylanguage}.html" %]
		</div>
		<div id = 'West-Ward'>
			[% INCLUDE "div-index.${mylanguage}.html" %]
		</div>
		<div id = 'East-Ward'>
			[% INCLUDE "h-download-input.${mylanguage}.html" %]
			[% INCLUDE "h-recordid-descr.${mylanguage}.html" %]
			[% INCLUDE "h-senderdomain-descr.${mylanguage}.html" %]
			[% INCLUDE "h-recipient-address-descr.${mylanguage}.html" %]
			[% INCLUDE "h-frequency-descr.${mylanguage}.html" %]
			[% INCLUDE "h-description.${mylanguage}.html" %]
			[% INCLUDE "h-messagetoken-descr.${mylanguage}.html" %]
			[% INCLUDE "h-bounceddate.${mylanguage}.html" %]
			[% INCLUDE "h-updateddate.${mylanguage}.html" %]
			[% INCLUDE "h-record-update.${mylanguage}.html" %]
		</div>

		<div id = 'Central-Ward'>
			[% INCLUDE "form-search-by-recipient.${mylanguage}.html" %]
			<h2>検索結果
				<span style = 'font-size:11px;'>(並び順:
					[%- IF pagination.colnameorderby == 'id' -%]
						ID
					[%- ELSIF pagination.colnameorderby == 'recipient' -%]
						宛先アドレス
					[%- ELSIF pagination.colnameorderby == 'senderdomain' -%]
						発信者ドメイン
					[%- ELSIF pagination.colnameorderby == 'destination' -%]
						宛先ドメイン
					[%- ELSIF pagination.colnameorderby == 'bounced' -%]
						差戻日時
					[%- ELSIF pagination.colnameorderby == 'frequency' -%]
						差戻回数
					[%- END -%]
					[%- IF pagination.descendorderby == 1 -%]
						, 降順(大きい方から)
					[%- END -%] )
				</span>
			</h2>
			<div class = 'pagination'>
				[% INCLUDE "div-pagination.${mylanguage}.html" %]
			</div>
			<div class = 'result'>
				[% INCLUDE "div-result.${mylanguage}.html" %]
			</div>
			[%- IF pagination.resultsperpage > 4 AND pagination.count > 4 AND hascondition > 0 -%]
				<div class = 'pagination'>
					[% INCLUDE "div-pagination.${mylanguage}.html" %]
				</div>
			[%- END -%]
		</div>
		<div id = 'South-Ward'>
		</div>
		[% INCLUDE "div-pagefooter.html" %]
	</div>
</body>
</html>

