[%- PROCESS "heads.tt" -%]
[%- PROCESS "words.tt" -%]
[%- PROCESS "terms.tt" -%]
[%- PROCESS "hostgroup.tt" -%]
[%- PROCESS "reason.tt" -%]
[%- PROCESS "error.tt" -%]
[%- PROCESS "desc.tt" -%]
[%- PROCESS "time.tt" -%]
[% INCLUDE "dtd-xhtml.html" %]
<head>
	[% INCLUDE "meta-http-equiv.html" %]
	<title>[% pv_systemname %]/[% tt_head.searchresults %]</title>
	[% pv_prototype.define_javascript_functions %]
	<script type = 'text/javascript'>
		[% INCLUDE bouncehammer.js %]
	</script>
	<style type = 'text/css'>
	<!--
	[% INCLUDE bouncehammer.css %]
	[% INCLUDE search.css %]
	[% INCLUDE reason.css %]
	[% INCLUDE pagination.css %]
	[% INCLUDE record.css %]
	-->
	</style>
</head>
<body>
	<div id = 'ThePage'>
		<h1>[% pv_head1title %]/[% tt_head.searchresults %]</h1>
		<div id = 'North-Ward'>
			[% INCLUDE "div-menubar.html" %]
		</div>
		<div id = 'West-Ward'>
			[%- SET tt_menu.search = 'currentpage' -%]
			[% INCLUDE "div-index.html" %]
		</div>
		<div id = 'East-Ward'>
			[% INCLUDE "help-download-file.html" %]
			[% INCLUDE "help-record-id.html" %]
			[% INCLUDE "help-senderdomain.html" %]
			[% INCLUDE "help-recipient.html" %]
			[% INCLUDE "help-frequency.html" %]
			[% INCLUDE "help-diagnostic-code.html" %]
			[% INCLUDE "help-messagetoken.html" %]
			[% INCLUDE "help-bounced-at.html" %]
			[% INCLUDE "help-updated-at.html" %]
			[% INCLUDE "help-to-update-the-record.html" %]
		</div>

		<div id = 'Central-Ward'>
			[% INCLUDE "form-search-by-recipient.html" %]
			<h2>[%- tt_word.searchresults -%]
				<span style = 'font-size:11px;'>([%- tt_word.sort -%]:
					[%- IF pv_pagination.colnameorderby == 'id' -%]
						[%- tt_word.id -%]
					[%- ELSIF pv_pagination.colnameorderby == 'recipient' -%]
						[%- tt_term.recipient -%]
					[%- ELSIF pv_pagination.colnameorderby == 'senderdomain' -%]
						[%- tt_term.senderdomain -%]
					[%- ELSIF pv_pagination.colnameorderby == 'destination' -%]
						[%- tt_term.destination -%]
					[%- ELSIF pv_pagination.colnameorderby == 'bounced' -%]
						[%- tt_term.bouncedat -%]
					[%- ELSIF pv_pagination.colnameorderby == 'frequency' -%]
						[%- tt_term.frequency -%]
					[%- END -%]
					[%- IF pv_pagination.descendorderby == 1 -%]
						/[%- tt_word.descending -%]
					[%- END -%] )
				</span>
			</h2>
			<div class = 'pagination'>
				[% INCLUDE "div-pagination.html" %]
			</div>
			<div class = 'result'>
				[% INCLUDE "div-result.html" %]
			</div>
			[%- IF pv_pagination.resultsperpage > 4 AND pv_pagination.count > 4 AND pv_hascondition > 0 -%]
				<div class = 'pagination'>
					[% INCLUDE "div-pagination.html" %]
				</div>
			[%- END -%]
		</div>
		<div id = 'South-Ward'>
		</div>
		[% INCLUDE "div-pagefooter.html" %]
	</div>
</body>
</html>

