[%- PROCESS "heads.tt" -%]
[%- PROCESS "words.tt" -%]
[%- PROCESS "terms.tt" -%]
[% INCLUDE "dtd-xhtml.html" %]
<head>
	[% INCLUDE "meta-http-equiv.html" %]
	<title>[% pv_systemname %]/[% tt_head.datasummary %]</title>
	[% pv_prototype.define_javascript_functions %]
	<script type = 'text/javascript'>
		[% INCLUDE bouncehammer.js %]
	</script>
	<style type = 'text/css'>
	<!--
		[% INCLUDE bouncehammer.css %]
		[% INCLUDE summary.css %]
	-->
	</style>
</head>
<body>
	<div id = 'ThePage'>
		<h1>[% pv_head1title %]/[% tt_head.datasummary %]</h1>
		<div id = 'North-Ward'>
			[% INCLUDE "div-menubar.html" %]
		</div>
		<div id = 'West-Ward'>
			[%- SET tt_menu.summary = 'currentpage' -%]
			[% INCLUDE "div-index.html" %]
		</div>
		<div id = 'East-Ward'>
			[% INCLUDE "help-addresser.html" %]
			[% INCLUDE "help-senderdomain.html" %]
			[% INCLUDE "help-destination-domain.html" %]
		</div>

		<div id = 'Central-Ward'>
			[%- SET tt_unitsize = 560 -%]
			<h2>[%- pv_tablesumm.bouncelogs.screenname -%]
				[%- IF pv_tableconf.bouncelogs.readonly > 0 -%]
					&nbsp;([%- tt_word.readonly -%])
				[%- END -%]
			</h2>
			<div class = 'summary'>
				<table>
					<tbody>
						<tr>
							<td class = 'label'>[% tt_word.used %]</td>
							<td class = 'value'>[% pv_tablesumm.bouncelogs.totalentries.chunk(-3).join(',') %]</td>
							<td rowspan = '5'>
								<div class = 'recordsize'>
									[%- pv_tablesumm.bouncelogs.totalentries.chunk(-3).join(',') -%]
								</div>
							</td>
							<td rowspan = '2'>&nbsp;</td>
							<td rowspan = '3'>&nbsp;</td>
						</tr>

						<tr>
							<td class = 'label'>[% tt_word.upperlimit %]</td>
							<td class = 'value'>
								[%- IF pv_tableconf.bouncelogs.maxrecords == 0 -%]
									[%- tt_word.unlimited -%]
								[%- ELSE -%]
									[%- pv_tableconf.bouncelogs.maxrecords.chunk(-3).join(',') -%]
								[%- END -%]
							</td>
						</tr>

						<tr>
							<td class = 'label'>[% tt_word.available %]</td>
							<td class = 'value'>
							[%- IF pv_tableconf.bouncelogs.maxrecords == 0 -%]
								[%- tt_word.unlimited -%]
							[%- ELSE -%]
								[%- SET tt_available = pv_tableconf.bouncelogs.maxrecords - pv_tablesumm.bouncelogs.totalentries -%]
								[%- tt_available.chunk(-3).join(',') -%]
							[%- END -%]
							</td>
							<td rowspan = '3'><div class = 'fraction'>/</div></td>
						</tr>

						<tr>
							<td class = 'label'>[% tt_word.capacity %]</td>
							<td class = 'value'>
								[%- IF pv_tableconf.bouncelogs.maxrecords == 0 -%]
								[%- ELSE -%]
								<strong>[%- pv_tablesumm.bouncelogs.capacity * 100 -%] %</strong>
								[%- END -%]
							</td>
							<td rowspan = '2'>
								<div class = 'limitsize'>
									[%- IF pv_tableconf.bouncelogs.maxrecords == 0 -%]
										[%- tt_word.unlimited -%]
									[%- ELSE -%]
										[%- pv_tableconf.bouncelogs.maxrecords.chunk(-3).join(',') -%]
									[%- END -%]
								</div>
							</td>
						</tr>
						<tr><td colspan = '2'>&nbsp;</td></tr>
						<tr>
							<td colspan = '5'>
								[%- IF pv_tablesumm.bouncelogs.capacity > 1 -%]
									[%- SET tt_thecapacity = 1 -%]
								[%- ELSIF pv_tablesumm.bouncelogs.capacity < 0 -%]
									[%- SET tt_thecapacity = 0 -%]
								[%- ELSE -%]
									[%- SET tt_thecapacity = pv_tablesumm.bouncelogs.capacity -%]
								[%- END -%]
								[%- SET tt_capacitywidth = tt_thecapacity * tt_unitsize -%]
								[%- IF tt_thecapacity > 0.9 -%]
									[%- SET tt_barclass = 'barfull' -%]
									[%- SET tt_fillclass = 'fillfull' -%]
								[%- ELSIF tt_thecapacity > 0.7 -%]
									[%- SET tt_barclass = 'barwarn' -%]
									[%- SET tt_fillclass = 'fillwarn' -%]
								[%- ELSIF tt_thecapacity > 0.1 -%]
									[%- SET tt_barclass = 'barnorm' -%]
									[%- SET tt_fillclass = 'fillnorm ' -%]
								[%- ELSE -%]
									[%- SET tt_barclass = 'barempty ' -%]
									[%- SET tt_fillclass = 'fillempty ' -%]
								[%- END -%]
								<div class = 'graph [% tt_barclass %]'>
									<div class = 'used [% tt_fillclass %]'
										style = 'width: [% tt_capacitywidth %]px;'>&nbsp;</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			[%- FOREACH T IN [ 'addresser', 'senderdomain','destination' ] -%]
				[%- SET M = T _ 's' -%]
				<hr class = 'flatline' />
				<h2>[% tt_term.$T %]/[% pv_tablesumm.${M}.screenname %]
					[%- IF pv_tableconf.${M}.readonly > 0 -%]([% tt_word.readonly %])[%- END -%]</h2>
				<div class = 'summary'>
					<table>
					<tbody>
					<tr>
						<td class = 'label'>[% tt_word.used %]</td>
						<td class = 'value'>[% pv_tablesumm.${M}.totalentries.chunk(-3).join(',') %]</td>
						<td rowspan = '5'>
							<div class = 'recordsize'>
								[%- pv_tablesumm.${M}.totalentries.chunk(-3).join(',') -%]
							</div>
						</td>
						<td rowspan = '2'>&nbsp;</td>
						<td rowspan = '3'>&nbsp;</td>
					</tr>

					<tr>
						<td class = 'label'>[% tt_word.upperlimit %]</td>
						<td class = 'value'>
							[%- IF pv_tableconf.${M}.maxrecords == 0 -%]
								[% tt_word.unlimited %]
							[%- ELSE -%]
								[%- pv_tableconf.${M}.maxrecords.chunk(-3).join(',') -%]
							[%- END -%]
						</td>
					</tr>

					<tr>
						<td class = 'label'>[% tt_word.available %]</td>
						<td class = 'value'>
						[%- IF pv_tableconf.${M}.maxrecords == 0 -%]
							[%- tt_word.unlimited -%]
						[%- ELSE -%]
							[%- SET tt_available = pv_tableconf.${M}.maxrecords - pv_tablesumm.${M}.totalentries -%]
							[%- tt_available.chunk(-3).join(',') -%]
						[%- END -%]
						</td>
						<td rowspan = '3'><div class = 'fraction'>/</div></td>
					</tr>

					<tr>
						<td class = 'label'>[% tt_word.capacity %]</td>
						<td class = 'value'>
							[%- IF pv_tableconf.${M}.maxrecords == 0 -%]
							[%- ELSE -%]
								<strong>[%- pv_tablesumm.${M}.capacity * 100 -%] %</strong>
							[%- END -%]
						</td>
						<td rowspan = '2'>
							<div class = 'limitsize'>
							[%- IF pv_tableconf.${M}.maxrecords == 0 -%]
								[%- tt_word.unlimited -%]
							[%- ELSE -%]
								[%- pv_tableconf.${M}.maxrecords.chunk(-3).join(',') -%]
							[%- END -%]
							</div>
						</td>
					</tr>
					<tr><td colspan = '2'>&nbsp;</td></tr>
					<tr>
						<td colspan = '5'>
							[%- IF pv_tablesumm.${M}.capacity > 1 -%]
								[%- SET tt_thecapacity = 1 -%]
							[%- ELSIF pv_tablesumm.${M}.capacity < 0 -%]
								[%- SET tt_thecapacity = 0 -%]
							[%- ELSE -%]
								[%- SET tt_thecapacity = pv_tablesumm.${M}.capacity -%]
							[%- END -%]
							[%- SET tt_capacitywidth = tt_thecapacity * tt_unitsize -%]
							[%- IF tt_thecapacity > 0.9 -%]
								[%- SET tt_barclass = 'barfull' -%]
								[%- SET tt_fillclass = 'fillfull' -%]
							[%- ELSIF tt_thecapacity > 0.7 -%]
								[%- SET tt_barclass = 'barwarn' -%]
								[%- SET tt_fillclass = 'fillwarn' -%]
							[%- ELSIF tt_thecapacity > 0.1 -%]
								[%- SET tt_barclass = 'barnorm' -%]
								[%- SET tt_fillclass = 'fillnorm ' -%]
							[%- ELSE -%]
								[%- SET tt_barclass = 'barempty ' -%]
								[%- SET tt_fillclass = 'fillempty ' -%]
							[%- END -%]
							<div class = 'graph [% tt_barclass %]'>
								<div class = 'used [% tt_fillclass %]'
									style = 'width: [% tt_capacitywidth %]px;'>&nbsp;</div>
							</div>
						</td>
					</tr>

					</tbody>
					</table>
				</div>
			[% END %]
		</div>
		<div id = 'South-Ward'>
		</div>
		[% INCLUDE "div-pagefooter.html" %]

	</div>
</body>
</html>

