[%- PROCESS "heads.tt" -%]
[%- PROCESS "words.tt" -%]
[%- PROCESS "terms.tt" -%]
[% INCLUDE "dtd-xhtml.html" %]
<head>
	[% INCLUDE "meta-http-equiv.html" %]
	<title>[% systemname %]/[% head.datasummary %]</title>
	[% prototype.define_javascript_functions %]
	<script type = 'text/javascript'>
		[% INCLUDE bouncehammer.js %]
	</script>
	<style type = 'text/css'>
	<!--
		[% INCLUDE bouncehammer.css %]
		[% INCLUDE summary.css %]
	-->
	</style>
</head>
<body>
	<div id = 'ThePage'>
		<h1>[% head1title %]/[% head.datasummary %]</h1>
		<div id = 'North-Ward'>
			[% INCLUDE "div-menubar.html" %]
		</div>
		<div id = 'West-Ward'>
			[% INCLUDE "div-index.html" %]
		</div>
		<div id = 'East-Ward'>
			[% INCLUDE "help-addresser.html" %]
			[% INCLUDE "help-senderdomain.html" %]
			[% INCLUDE "help-destination-domain.html" %]
		</div>

		<div id = 'Central-Ward'>

			<h2>[% tablesumm.bouncelogs.screenname %] [% word.table %]
				[%- IF tableconf.bouncelogs.readonly > 0 -%]([%- word.readonly %])[%- END -%]</h2>
			<div class = 'summary'>
				<table>
					<tbody>
						<tr>
							<td class = 'key'>[% word.upperlimit %]</td>
							<td class = 'value'>
								[% IF tableconf.bouncelogs.maxrecords == 0 %]
									[% word.unlimited %]
								[% ELSE %]
									[% tableconf.bouncelogs.maxrecords.chunk(-3).join(',') %] [% word.unitofrecs %]
								[% END %]
							</td>
							<td class = 'extra'></td>
						</tr>

						<tr>
							<td class = 'key'>[% word.used %]</td>
							<td class = 'value'>
								[% tablesumm.bouncelogs.totalentries.chunk(-3).join(',') %]
								[% word.unitofrecs %]
							</td>
							<td class = 'extra'></td>
						</tr>

						<tr>
							<td class = 'key'>[% word.available %]</td>
							<td class = 'value'>
								[% IF tableconf.bouncelogs.maxrecords == 0 %]
									[% word.unlimited %]
								[% ELSE %]
									[% SET available = tableconf.bouncelogs.maxrecords - tablesumm.bouncelogs.totalentries %]
									[% available.chunk(-3).join(',') %] [% word.unitofrecs %]
								[% END %]
							</td>
							<td class = 'extra'></td>
						</tr>

						<tr>
							<td class = 'key'>[% word.capacity %]</td>
							<td class = 'value'>
								[% SET capacitywidth = tablesumm.bouncelogs.capacity * 368 %]
								<div class = 'graph'>
									<div class = 'used' style = 'width: [% capacitywidth %]px;'>&nbsp;
									</div>
								</div>
							</td>
							<td class = 'extra'>
								[% IF tableconf.bouncelogs.maxrecords == 0 %]
									[% word.unlimited %]
								[% ELSE %]
									[% tablesumm.bouncelogs.capacity * 100 %] %
								[% END %]
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			[%- FOREACH T IN [ 'addresser', 'senderdomain','destination' ] -%]
				[%- SET M = T _ 's' -%]
				<h2>[% term.$T %] [% word.table %]/[% tablesumm.${M}.screenname %]
					[%- IF tableconf.${M}.readonly > 0 -%]([% word.readonly %])[%- END -%]</h2>
				<div class = 'summary'>
					<table>
						<tbody>
							<tr>
								<td class = 'key'>[% word.upperlimit %]</td>
								<td class = 'value'>
									[% IF tableconf.${M}.maxrecords == 0 %]
										[% word.unlimited %]
									[% ELSE %]
										[% tableconf.${M}.maxrecords.chunk(-3).join(',') %] [% word.unitofrecs %]
									[% END %]
								</td>
								<td class = 'extra'></td>
							</tr>

							<tr>
								<td class = 'key'>[% word.used %]</td>
								<td class = 'value'>
									[% tablesumm.${M}.totalentries.chunk(-3).join(',') %]
									[% word.unitofrecs %]
								</td>
								<td class = 'extra'></td>
							</tr>

							<tr>
								<td class = 'key'>[% word.available %]</td>
								<td class = 'value'>
									[% IF tableconf.${M}.maxrecords == 0 %]
										[% word.unlimited %]
									[% ELSE %]
										[% SET available = tableconf.${M}.maxrecords - tablesumm.${M}.totalentries %]
										[% available.chunk(-3).join(',') %] [% word.unitofrecs %]
									[% END %]
								</td>
								<td class = 'extra'></td>
							</tr>

							<tr>
								<td class = 'key'>[% word.capacity %]</td>
								<td class = 'value'>
									[% SET capacitywidth = tablesumm.${M}.capacity * 320 %]
									<div class = 'graph'>
										<div class = 'used' style = 'width: [% capacitywidth %]px;'>&nbsp;
										</div>
									</div>
								</td>
								<td class = 'extra'>
									[% IF tableconf.${M}.maxrecords == 0 %]
										[% word.unlimited %]
									[% ELSE %]
										[% tablesumm.${M}.capacity * 100 %] %
									[% END %]
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			[% END %]
		</div>
		<div id = 'South-Ward'>
		</div>
		[% INCLUDE "div-pagefooter.html" %]

	</div>
</body>
</html>

