[% INCLUDE "dtd-xhtml.html" %]
<head>
	[% INCLUDE "meta-http-equiv.html" %]
	<title>[% systemname %]/解析テスト</title>
	[% prototype.define_javascript_functions %]
	<script type = 'text/javascript'>
		[% INCLUDE bouncehammer.js %]
	</script>
	<style type = 'text/css'>
	<!--
		[% INCLUDE bouncehammer.css %]
		[% INCLUDE testparse.css %]
	-->
	</style>
	[%- SET DOPARSE = '解析' -%]
	[%- SET PARSING = '解析中...' -%]
</head>
<body>
	<div id = 'ThePage'>
		<h1>[% head1title %]/解析テスト</h1>
		<div id = 'North-Ward'>
			[% INCLUDE "div-menubar.${mylanguage}.html" %]
		</div>
		<div id = 'West-Ward'>
			[% INCLUDE "div-index.${mylanguage}.html" %]
		</div>
		<div id = 'East-Ward'>
			[% INCLUDE "h-parsed-messages.${mylanguage}.html" %]
			[% INCLUDE "h-senderdomain-descr.${mylanguage}.html" %]
			[% INCLUDE "h-recipient-address-descr.${mylanguage}.html" %]
			[% INCLUDE "h-frequency-descr.${mylanguage}.html" %]
			[% INCLUDE "h-description.${mylanguage}.html" %]
			[% INCLUDE "h-messagetoken-descr.${mylanguage}.html" %]
			[% INCLUDE "h-bounceddate.${mylanguage}.html" %]
			[% INCLUDE "h-updateddate.${mylanguage}.html" %]
			[% INCLUDE "h-record-update.${mylanguage}.html" %]
		</div>

		<div id = 'Central-Ward'>

			<div id = 'ChooseFile'>
				<form action = '[% scriptname %]/test/parse' method = 'POST' target = 'parseddata' id = 'parseform'
					enctype = 'multipart/form-data' 
					onSubmit = " doparse.disabled = true; doparse.value = '[% PARSING %]';
					setTimeout( function(){ doparse.disabled = false; }, 8000 );
					" >
					<fieldset>
						<legend>メールまたはメールボックスを解析</legend>
						<table>
						<tbody>
							<tr>
								<td class = 'key'>メール(メールボックス)</td>
								<td class = 'value'>
									<input type = 'file' name = 'emailfile' class = 'emailfile'
										onChange = "checkef.innerHTML = '&#9745; 使用'; doparse.disabled = false;" />&nbsp; 
									[%- IF maxsize == 0 -%]
										<strong> &lt; 無制限 </strong>
									[%- ELSE -%]
										<strong> &lt; [% maxsize %] バイト </strong>
									[%- END -%]
								</td>
								<td class = 'extra' id = 'checkef'> </td>
							</tr>

							<tr>
								<td class = 'key'>
									<a href = "javascript:void(0);" onClick = "toggleIt('emailtextarea');">
										メール内容全体 &gt;&gt;
									</a>
								</td>
								<td class = 'value' >
									下記のテキスト領域にメール内容を貼付けて下さい
									<span class = 'flatbutton'>
										<a href = "javascript:void(0);" onClick = "toggleIt('emailtextarea');">表示</a>
									</span><br />
									<textarea name = 'emailtext' id = 'emailtextarea' onKeyUp = "doparse.disabled = false;"
										onChange = "checket.innerHTML = '&#9745; 使用';" class = 'emailtext'
										style = 'display: none;' rows = '24' cols = '48'></textarea>
								</td>
								<td class = 'extra' id = 'checket'> </td>
							</tr>

							<tr>
								<td class = 'key'>解析件数</td>
								<td class = 'value'>
									最初の
									<select name = 'parsenmessages' onChange = "doparse.disabled = false;">
										<option value = '1' >1</option>
										<option value = '3' selected>3</option>
										<option value = '5' >5</option>
										<option value = '10' >10</option>
									</select>
									件まで解析する
								</td>
								<td class = 'extra' id = 'checkof'> </td>
							</tr>

							<tr>
								<td class = 'key'>出力形式</td>
								<td class = 'value'>
									<span><input type = 'radio' name = 'format' value = 'html' checked /> HTML</span> &nbsp; 
									<span><input type = 'radio' name = 'format' value = 'yaml' /> YAML</span> &nbsp; 
									<span><input type = 'radio' name = 'format' value = 'json' /> JSON</span> &nbsp; 
								</td>
								<td class = 'extra' id = 'checkof'> </td>
							</tr>

							<tr>
								<td class = 'key'>DBに登録</td>
								<td class = 'value'>
									<input type = 'checkbox' name = 'register' />
									解析後に結果をBounceLogsデータベースに登録する<br />
									<span class = 'shortdescription'>発信者ドメインが
										<a href = '[% scriptname %]/tables/senderdomain'>SenderDomains</a> テーブルに
										登録されている必要があります。
									</span>
								</td>
								<td class = 'extra'></td>
							</tr>

							<tr>
								<td class = 'key' style = 'margin: 4px 0;'>
									<br />
									<input type = 'submit' id = 'doparse' value = '[% DOPARSE %]' class = 'flatbutton' disabled />
								</td>
								<td class = 'value'></td>
								<td class = 'extra'>
									<input type = 'reset' value = 'リセット' class = 'flatbutton' />
								</td>
							</tr>
						</tbody>
						</table>
					</fieldset>
				</form>
			</div>

			<div style = 'margin: 12px 0; padding: 0;'>
				<iframe name = 'parseddata' id = 'parseddata' frameborder = '0' width = '605'
					height = '1' marginheight = '0' marginwidth = '0' ></iframe>
			</div>
		</div>
		<div id = 'South-Ward'>
		</div>
		[% INCLUDE "div-pagefooter.html" %]

	</div>
</body>
</html>

