[%- PROCESS "heads.tt" -%]
[%- PROCESS "words.tt" -%]
[%- PROCESS "terms.tt" -%]
[%- PROCESS "hostgroup.tt" -%]
[%- PROCESS "reason.tt" -%]
[%- PROCESS "desc.tt" -%]
[%- PROCESS "error.tt" -%]
[% INCLUDE "dtd-xhtml.html" %]
<head>
	[% INCLUDE "meta-http-equiv.html" %]
	<title>[% pv_systemname %]/[% tt_head.parsingtest %]</title>
	[% pv_prototype.define_javascript_functions %]
	<script type = 'text/javascript'>
		[% INCLUDE bouncehammer.js %]
	</script>
	<style type = 'text/css'>
	<!--
	[% INCLUDE bouncehammer.css %]
	[% INCLUDE testparse.css %]
	-->
	</style>
</head>
<body>
	<div id = 'ThePage'>
		<h1>[% pv_head1title %]/[% tt_head.parsingtest %]</h1>
		<div id = 'North-Ward'>
			[% INCLUDE "div-menubar.html" %]
		</div>
		<div id = 'West-Ward'>
			[%- SET tt_menu.parse = 'currentpage' -%]
			[% INCLUDE "div-index.html" %]
		</div>
		<div id = 'East-Ward'>
			[% INCLUDE "help-parsed-message.html" %]
			[% INCLUDE "help-senderdomain.html" %]
			[% INCLUDE "help-recipient.html" %]
			[% INCLUDE "help-frequency.html" %]
			[% INCLUDE "help-diagnostic-code.html" %]
			[% INCLUDE "help-messagetoken.html" %]
			[% INCLUDE "help-bounced-at.html" %]
			[% INCLUDE "help-updated-at.html" %]
			[% INCLUDE "help-to-update-the-record.html" %]
		</div>

		<div id = 'Central-Ward'>

			<div id = 'ChooseFile'>
				<form action = '[% pv_scriptname %]/test/parse' method = 'POST' 
					target = 'fe_parseddata' id = 'jx_parseform' enctype = 'multipart/form-data' 
					onSubmit = " jx_doparse.disabled = true; jx_doparse.value = '[% tt_word.parsing %]';
					setTimeout( function(){ jx_doparse.disabled = false; }, 8000 );
					" >
					<fieldset>
						<legend>[%- tt_word.parse -%]</legend>
						<table>
						<tbody>
							<tr>
								<td class = 'key'>[%- tt_word.email -%]([%- tt_word.mailbox -%])</td>
								<td class = 'value'>
									<input type = 'file' name = 'fe_emailfile' class = 'emailfile'
										onChange = "jx_checkef.innerHTML = '&#9745; [% tt_word.use %]';
										jx_doparse.disabled = false;" />&nbsp; 
									[%- IF pv_maxsize == 0 -%]
										<strong> == [% tt_word.unlimited %]</strong>
									[%- ELSE -%]
										<strong> &lt; [% pv_maxsize %] [% tt_word.bytes %]</strong>
									[%- END -%]
								</td>
								<td class = 'extra' id = 'jx_checkef'> </td>
							</tr>

							<tr>
								<td class = 'key'>
									<a href = "javascript:void(0);" onClick = "toggleIt('jx_emailtextarea');">
										[% tt_desc.wholemessagetext %] &gt;&gt;
									</a>
								</td>
								<td class = 'value' >
									[% desc.copyandpasteemail %]
									<span class = 'flatbutton'>
										<a href = "javascript:void(0);" onClick = "toggleIt('jx_emailtextarea');">
											&nbsp; [% tt_word.input %] &nbsp; </a>
									</span><br />
									<textarea name = 'fe_emailtext' id = 'jx_emailtextarea' 
										onKeyUp = "jx_doparse.disabled = false;"
										onChange = "jx_checket.innerHTML = '&#9745; [% tt_word.use %]';"
										class = 'emailtext' style = 'display: none;' 
										rows = '24' cols = '48'></textarea>
								</td>
								<td class = 'extra' id = 'jx_checket'> </td>
							</tr>

							<tr>
								<td class = 'key'>[% tt_word.outputformat %]</td>
								<td class = 'value'>
									<span><input type = 'radio' name = 'fe_format' value = 'html' checked /> HTML</span> &nbsp; 
									<span><input type = 'radio' name = 'fe_format' value = 'yaml' /> YAML</span> &nbsp; 
									<span><input type = 'radio' name = 'fe_format' value = 'json' /> JSON</span> &nbsp; 
									<span><input type = 'radio' name = 'fe_format' value = 'csv' /> CSV</span> &nbsp; 
								</td>
								<td class = 'extra' id = 'jx_checkof'> </td>
							</tr>

							<tr>
								<td class = 'key'>[% tt_word.insertintodb %]</td>
								<td class = 'value'>
									<input type = 'checkbox' name = 'fe_register' /> [% tt_desc.insertafterparsing %]<br />
									<span class = 'shortdescription'>[% tt_desc.senderdomainmustexist %]</span>
								</td>
								<td class = 'extra'></td>
							</tr>

							<tr>
								<td class = 'key' style = 'margin: 4px 0;'>
									<br />
									<input type = 'submit' id = 'jx_doparse' value = '[% tt_word.parse %]' 
										class = 'flatbutton' disabled />
								</td>
								<td class = 'value'></td>
								<td class = 'extra'>
									<input type = 'hidden' name = 'fe_parsenmessages' value = '10' />
									<input type = 'reset' value = '[% tt_word.reset %]' class = 'flatbutton' />
								</td>
							</tr>
						</tbody>
						</table>
					</fieldset>
				</form>
			</div>

			<div style = 'margin: 12px 0; padding: 0;'>
				<iframe name = 'fe_parseddata' id = 'jx_parseddata' frameborder = '0' width = '660'
					height = '1' marginheight = '0' marginwidth = '0' ></iframe>
			</div>
		</div>
		<div id = 'South-Ward'>
		</div>
		[% INCLUDE "div-pagefooter.html" %]

	</div>
</body>
</html>

