<div style = 'margin: 8px 0;'>
	<span class = 'flatbutton'>
		<a href = "javascript:void(0);" onClick = 'delete_a_record.style.display = "block";'>一件削除する</a>
	</span>
</div>
<div id = 'delete_a_record' style = 'display: none;'>
	<form action = "[% scriptname %]/tables/[% tablename %]/delete" method = 'POST'>
			[%- prototype.form_remote_tag( {
					url => "${scriptname}/tables/${tablename}/delete",
					update => "mtr-${R.id}",
					before => "disableIt('do_update_${R.id}');",
				});
			-%]
		<fieldset>
			<legend>"[% titlename %]"のデータを1件削除</legend>
			<input type = 'checkbox' name = 'do_delete' />&nbsp;&larr; 削除するにはチェックボックスをONに: &nbsp; 

			<select name = 'record_will_be_delete'>
				<option value = '0'>- 削除対象を選択 - </option>
				[%- FOREACH D IN tablecontents -%]
					<option value = '[% D.id %]'>[% D.name %]</option>
				[%- END -%]
			</select>
			&nbsp;
			<input type = 'hidden' name = 'language' value = '[% mylanguage %]' />
			<input type = 'hidden' name = 'action' value = 'delete' />
			<input type = 'hidden' name = 'colnameorderby' value = '[% pagination.colnameorderby %]' />
			<input type = 'hidden' name = 'currentpagenum' value = '[% pagination.currentpagenum %]' />
			<input type = 'hidden' name = 'resultsperpage' value = '[% pagination.resultsperpage %]' />
			<input type = 'submit' value = '削除する' class = 'flatbutton' />
			<br />
			<span class = 'warnings'>
				<strong>注意!:</strong>
				BounceLogsテーブルから外部キーとして参照されている
				[% tablename %]テーブルのデータを削除すると、参照整合性が破壊されます。
			</span>
		</fieldset>
	</form>
</div>
