<ul class = 'index'>
	<li class = 'item'><a href = '[% scriptname %]/index'>[% head.search %]</a></li>
	<li class = 'item'><a href = '[% scriptname %]/test'>[% head.parsingtest %]</a></li>

	<li class = 'itemgroup'>[% head.mastertable %]</li>
	<li class = 'subitem'> <a href = '[% scriptname %]/tables/senderdomains/list'>[% term.senderdomain %]</a></li>
	<li class = 'subitem'> <a href = '[% scriptname %]/tables/destinations/list'>[% term.destination %]</a></li>
	<li class = 'subitem'> <a href = '[% scriptname %]/tables/reasons/list'>[% term.reason %]</a></li>
	<li class = 'subitem'> <a href = '[% scriptname %]/tables/hostgroups/list'>[% term.hostgroup %]</a></li>
	<li class = 'subitem'> <a href = '[% scriptname %]/tables/providers/list'>[% term.provider %]</a></li>

	<li class = 'item'><a href = '[% scriptname %]/token'>[% head.messagetoken %]</a></li>
	<li class = 'item'><a href = '[% scriptname %]/summary'>[% head.datasummary %]</a></li>
	<li class = 'item'><a href = '[% scriptname %]/profile'>[% head.systemprof %]</a></li>
</ul>
