<ul class = 'index'>
	<li class = 'item'><a href = '[% scriptname %]/index'>検索</a></li>
	<li class = 'item'><a href = '[% scriptname %]/test'>解析テスト</a></li>

	<li class = 'itemgroup'>マスターテーブル</li>
	<li class = 'subitem'> <a href = '[% scriptname %]/tables/senderdomains/list'>発信者ドメイン</a></li>
	<li class = 'subitem'> <a href = '[% scriptname %]/tables/destinations/list'>宛先ドメイン</a></li>
	<li class = 'subitem'> <a href = '[% scriptname %]/tables/reasons/list'>差戻理由</a></li>
	<li class = 'subitem'> <a href = '[% scriptname %]/tables/hostgroups/list'>宛先分類</a></li>
	<li class = 'subitem'> <a href = '[% scriptname %]/tables/providers/list'>プロバイダ</a></li>

	<li class = 'item'><a href = '[% scriptname %]/token'>トークン</a></li>
	<li class = 'item'><a href = '[% scriptname %]/summary'>登録済データの概要</a></li>
	<li class = 'item'><a href = '[% scriptname %]/profile'>システム情報</a></li>
</ul>
