[%- SET ThisURI = thepageuri -%]
[%- IF encryptedforuri -%]
	[%- SET colname = pagination.colnameorderby -%]
	[%- SET descend = pagination.descendorderby -%]
	[%- IF pagination.currentpagenum -%]
		[%- SET page = pagination.currentpagenum -%]
		[%- SET DownloadLink = "${ThisURI}/download" -%]
		[%- IF pagination.resultsperpage -%]
			[%- SET rpp = pagination.resultsperpage -%]
			[%- SET ThisURI = "${ThisURI}/search/condition/${encryptedforuri}/${colname},${descend}/${page}/${rpp}" -%]
		[%- ELSE -%]
			[%- SET ThisURI = "${ThisURI}/search/condition/${encryptedforuri}/${colname},${descend}/${page}" -%]
		[%- END -%]
	[%- ELSE -%]
		[%- SET ThisURI = "${ThisURI}/search/condition/${encryptedforuri}/${colname},${descend}" -%]
	[%- END -%]
[%- ELSE -%]
	[%- SET ThisURI = "${ThisURI}${pathinfo}" -%]
[%- END -%]
<div id = 'MenuBar'>
	[%- IF DownloadLink -%]
		[%- SET DLLYAML = "${DownloadLink}/yaml/${encryptedforuri}/${colname},${descend}" -%]
		[%- SET DLLJSON = "${DownloadLink}/json/${encryptedforuri}/${colname},${descend}" -%]
		<select onChange = "window.open(this.options[this.selectedIndex].value)" style = 'font-size:10px;'>
			<option value = '#' >検索結果をダウンロード</option>
			<option value = '[% DLLYAML %]'>YAML</option>
			<option value = '[% DLLJSON %]'>JSON</option>
		</select>
	[%- END -%]

	<form action = '[% ThisURI %]' method = 'POST' id = 'SelectLanguage' style = 'display: inline;'>
		[% INCLUDE "select-language.html" %]
		<span class = 'flatbutton'>
			<a href = "javascript:void(0);" onClick = "SelectLanguage.submit(); return(false);">言語変更</a>
		</span>
	</form>

	<span class = 'flatbutton'>
		<a href = "javascript:void(0);" onClick = "toggleIt('PageURI');">URL表示</a>
	</span>
	<div id = 'PageURI' style = 'display: none;'>
		<input type = 'text' value = '[% ThisURI %]' class = 'flat'
			readonly = 'readonly' onClick = "this.select();" />
	</div>


</div>

