[%- PROCESS "words.tt" -%]
[%- FOREACH R IN pv_tablecontents -%]
	[%- NEXT IF R.name.substr(0,1) == '_' -%]
	[%- IF pv_tablename == 'senderdomains' OR pv_tablename == 'destinations' OR pv_tablename == 'addressers' -%]
		[%- pv_prototype.form_remote_tag( {
				url => "${pv_scriptname}/tables/${pv_tablename}/update",
				update => "jx_mtr-${R.id}",
				before => "disableIt('jx_do_update_${R.id}');",
			});
		-%]
		<table class = 'stored'>
			<tbody class = 'mastertable'>
			<tr id = 'jx_mtr-[% R.id %]'>
				<td class = 'theID'>
					[% R.id %]
					<input type = 'hidden' name = 'fe_id' value = '[% R.id %]' />
					<input type = 'hidden' name = 'fe_language' value = '[% pv_mylanguage %]' />
				</td>
				<td class = 'theName' id = 'jx_name_of_[% R.id %]'>
					[% R.name %]<input type = 'hidden' name = 'fe_name' value = '[% R.name %]' />
				</td>
				<td class = 'theDescription'>
					<input type = 'text' id = 'jx_desc_of_[% R.id %]' class = 'rewritabletext' 
						name = 'fe_desc' value = '[% R.description %]' 
						onKeyUp = "enableIt('jx_do_update_[% R.id %]');" />
				</td>
				<td class = 'theMethod'>
					<input type = 'submit' id = 'jx_do_update_[% R.id %]'
						value = '[% tt_word.update %]' class = 'flatbutton' 
						onClick = "this.value = '[% tt_word.updating %]';" disabled />
				</td>
			</tr>
			</tbody>
		</table>
	[%- ELSE -%]
		<table class = 'stored'>
			<tbody class = 'mastertable'>
			<tr>
				<td class = 'theID'>[% R.id %] &nbsp;</td>
				<td class = 'shortName' id = 'jx_name_of_[% R.id %]'>
					[%- IF pv_tablename == 'reasons' -%]
						<div class = 'reason [% R.name %]' title = '[% tt_reason.${R.name} %]'>[% R.name %]</div>
					[%- ELSE -%]
						[% R.name %]
					[%- END -%]
				</td>
				<td class = 'longDescription'>
					[%- IF pv_tablename == 'reasons' -%]
						<input type = 'text' id = 'jx_desc_of_[% R.id %]' class = 'readonlytext'
							name = 'fe_desc' readonly = 'readonly'
							value = '[% tt_reason.${R.name} %]: [% tt_tellmewhy.${R.name} %]'
							title = '[% tt_tellmewhy.${R.name} %]' />
					[%- ELSIF pv_tablename == 'hostgroups' -%]
						<input type = 'text' id = 'jx_desc_of_[% R.id %]' class = 'readonlytext'
							name = 'fe_desc' readonly = 'readonly'
							value = '[% tt_hostgroup.${R.name} %]: [% tt_groupmember.${R.name} %]'
							title = '[% tt_groupmember.${R.name} %]' />
					[%- ELSE -%]
						<input type = 'text' id = 'jx_desc_of_[% R.id %]' class = 'readonlytext'
							name = 'fe_desc'
								value = '[% R.description %]' readonly = 'readonly' />
					[%- END -%]
				</td>
				<td class = 'theMethod'>
					&nbsp;<input type = 'submit' id = 'jx_do_update_[% R.id %]'
						value = '[% tt_word.readonly %]' class = 'flatbutton' disabled />
				</td>
			</tr>
			</tbody>
		</table>
	[%- END -%]
	</form>
[%- END -%]
