<ul class = 'index'>
	<li class = 'item'><a href = '[% scriptname %]/index'>Search</a></li>
	<li class = 'item'><a href = '[% scriptname %]/test'>Test Parse</a></li>

	<li class = 'item'>Master Tables</li>
	<li class = 'subitem'> <a href = '[% scriptname %]/tables/senderdomains/list'>SenderDomains</a></li>
	<li class = 'subitem'> <a href = '[% scriptname %]/tables/destinations/list'>Destinations</a></li>
	<li class = 'subitem'> <a href = '[% scriptname %]/tables/reasons/list'>Reasons</a></li>
	<li class = 'subitem'> <a href = '[% scriptname %]/tables/hostgroups/list'>Host Groups</a></li>
	<li class = 'subitem'> <a href = '[% scriptname %]/tables/providers/list'>Providers</a></li>

	<li class = 'item'><a href = '[% scriptname %]/token'>Token</a></li>
	<li class = 'item'><a href = '[% scriptname %]/summary'>Summary</a></li>
	<li class = 'item'><a href = '[% scriptname %]/profile'>Profile</a></li>
</ul>
