[%- SET currentpagenum = pagersinthequery.currentpagenum -%]
[%- SET resultsperpage = pagersinthequery.resultsperpage -%]
[%- SET lastpagenumber = pagersinthequery.lastpagenumber -%]
[%- SET colnameorderby = pagersinthequery.colnameorderby -%]
[%- SET descendorderby = pagersinthequery.descendorderby -%]
[%- SET pagesintheline = 10 -%]
[%- IF contentsname == "search" -%]
	[%- SET baseuri = "${scriptname}/search/condition/${encryptedforuri}/${colnameorderby},${descendorderby}" -%]
[%- ELSIF contentsname == "table" -%]
	[%- IF sortby == '' -%]
		[%- SET baseuri = "${scriptname}/tables/${tablename}/list" -%]
	[%- ELSE -%]
		[%- SET baseuri = "${scriptname}/tables/${tablename}/sort/${sortby}" -%]
	[%- END -%]
[%- END -%]
[%- IF currentpagenum > ( pagesintheline / 2 ) -%]
	[%- IF ( currentpagenum + ( pagesintheline / 2 ) ) > lastpagenumber -%]
		[%- SET pp_start = ( lastpagenumber - pagesintheline ) -%]
	[%- ELSE -%]
		[%- SET pp_start = ( currentpagenum - ( pagesintheline / 2 ) ) -%]
	[%- END -%]

	[%- IF lastpagenumber > ( pp_start + ( pagesintheline / 2 ) ) -%]
		[%- SET pp_endby = pp_start + pagesintheline -%]
	[%- ELSE -%]
		[%- SET pp_endby = lastpagenumber -%]
	[%- END -%]

[%- ELSE -%]
	[%- SET pp_start = 1 -%]
	[%- IF lastpagenumber > pagesintheline -%]
		[%- SET pp_endby = pagesintheline -%]
	[%- ELSE -%]
		[%- SET pp_endby = lastpagenumber -%]
	[%- END -%]
[%- END -%]
[%- SET availablepages = [ pp_start .. pp_endby ] -%]

<div class = 'lhs'>&nbsp;</div>
<div class = 'rhs'>
	[%- IF pagersinthequery.totalentries > 0 -%]
		Results
		[%- IF pagersinthequery.totalentries > 1 -%]
			<strong>[% pagersinthequery.firstentry %] - [% pagersinthequery.lastentry %]</strong>
			of <strong>[% pagersinthequery.totalentries %]</strong> records
		[%- ELSE -%]
			<strong>1</strong> of <strong>1</strong> reocrd
		[%- END -%]
	[%- ELSE -%]
		<strong>No records in the DB</strong>
	[%- END -%]
</div>
<div class = 'mid'>
	[%- IF lastpagenumber > 1 -%]
		[%- IF currentpagenum > 1 -%]
			<a href = '[% baseuri %]/[% currentpagenum - 1 %]/[% resultsperpage %]'><strong>Previous</strong></a>&nbsp;
			[%- IF currentpagenum > ( ( pagesintheline / 2 ) + 1 ) -%]
				<a href = '[% baseuri %]/1/[% resultsperpage %]'>1</a>&nbsp;..&nbsp;
			[%- END -%]
		[%- END -%]
						
		[%- FOREACH PP IN availablepages -%]
			[%- IF PP == pagersinthequery.currentpagenum -%]
				<span class = 'thispage'>&nbsp;<strong>[% PP %]</strong>&nbsp;</span>&nbsp;
			[%- ELSE -%]
				<a href = '[% baseuri %]/[% PP %]/[% resultsperpage %]'>[% PP %]</a>&nbsp;
			[%- END -%]
		[%- END -%]

		[%- IF currentpagenum < lastpagenumber -%]
			[%- IF ( pp_endby + 1 ) < lastpagenumber -%]
				.. <a href = '[% baseuri %]/[% lastpagenumber %]/[% resultsperpage %]'>[% lastpagenumber %]</a>&nbsp;
			[%- END -%]
			<a href = '[% baseuri %]/[% currentpagenum + 1 %]/[% resultsperpage %]'><strong>Next</strong></a>
		[%- END -%]
	[%- ELSE -%]
		&nbsp;
	[%- END -%]
</div>
