<div class = 'index'>
	<span class = 'item'>- <a href = '[% scriptname %]/index'>Search</a></span>
	<span class = 'item'>- <a href = '[% scriptname %]/test'>Test Parse</a></span>

	<span class = 'item'>+ <a href = '#'>Master Tables</a></span>
	<span class = 'subitem'>- <a href = '[% scriptname %]/tables/senderdomains/list'>SenderDomains</a></span>
	<span class = 'subitem'>- <a href = '[% scriptname %]/tables/destinations/list'>Destinations</a></span>
	<span class = 'subitem'>- <a href = '[% scriptname %]/tables/reasons/list'>Reasons</a></span>
	<span class = 'subitem'>- <a href = '[% scriptname %]/tables/hostgroups/list'>Host Groups</a></span>
	<span class = 'subitem'>- <a href = '[% scriptname %]/tables/providers/list'>Providers</a></span>

	<span class = 'item'>- <a href = '[% scriptname %]/token'>Token</a></span>
	<span class = 'item'>- <a href = '[% scriptname %]/summary'>Summary</a></span>
	<span class = 'item'>- <a href = '[% scriptname %]/profile'>Profile</a></span>
</div>
