[% FOREACH RR IN removedrecord %]
<table class = 'stored'>
	<tbody class = 'mastertable'>
		<tr class = 'removedrecord'>
			<td class = 'theID'>[% RR.id %]</td>
			<td class = 'theName'>[% RR.name %]</td>
			<td class = 'theDescription'>
				<input type = 'text' class = 'removedtext'
					value = '[% RR.description %]' readonly = 'readonly' />
			</td>
			<td class = 'theMethod'>
				<input type = 'submit' value = '[% word.removed %]' class = 'flatbutton' disabled />
			</td>
		</tr>
	</tbody>
</table>
[% END %]
