<span class = 'flatbutton caution longflatbutton'>
	<a href = "javascript:void(0);"
		onClick = 'jx_delete_the_record.style.display = "block";'>[% tt_desc.deletetherecord %]</a>
</span>
<div id = 'jx_delete_the_record' style = 'display: none;'>
	<form action = "[% pv_scriptname %]/tables/[% pv_tablename %]/delete" method = 'POST'>
			[%- pv_prototype.form_remote_tag( {
					url => "${pv_scriptname}/tables/${pv_tablename}/delete",
					update => "jx_mtr-${R.id}",
					before => "disableIt('jx_do_update_${R.id}');",
				});
			-%]
		<fieldset>
		<legend>[% tt_desc.deletetherecord %]([% pv_titlename %])</legend>
		<input type = 'checkbox' name = 'fe_do_delete' />&nbsp;&larr; [% tt_desc.checktodelete %]: &nbsp; 

		<select name = 'fe_record_will_be_delete'>
			<option value = '0'>- [% tt_desc.selectonetodelete %] - </option>
			[%- FOREACH D IN pv_tablecontents -%]
				<option value = '[% D.id %]'>[% D.name %]</option>
			[%- END -%]
		</select>
		&nbsp;
		<input type = 'hidden' name = 'fe_language' value = '[% pv_mylanguage %]' />
		<input type = 'hidden' name = 'fe_action' value = 'delete' />
		<input type = 'hidden' name = 'fe_colnameorderby' value = '[% pv_pagination.colnameorderby %]' />
		<input type = 'hidden' name = 'fe_currentpagenum' value = '[% pv_pagination.currentpagenum %]' />
		<input type = 'hidden' name = 'fe_resultsperpage' value = '[% pv_pagination.resultsperpage %]' />
		<input type = 'submit' value = '[% tt_word.delete %]' class = 'flatbutton caution' />
		<br />
		<span class = 'warnings'>
			<strong>[% tt_word.headsup %]:</strong> [% tt_desc.integritywarning %]
		</span>
		</fieldset>
	</form>
</div>
