<div class = 'index'>
	<span class = 'item'>- <a href = '[% scriptname %]/index'>検索</a></span>
	<span class = 'item'>- <a href = '[% scriptname %]/test'>解析テスト</a></span>

	<span class = 'item'>+ <a href = '#'>マスターテーブル</a></span>
	<span class = 'subitem'>- <a href = '[% scriptname %]/tables/senderdomains/list'>発信者ドメイン</a></span>
	<span class = 'subitem'>- <a href = '[% scriptname %]/tables/destinations/list'>宛先ドメイン</a></span>
	<span class = 'subitem'>- <a href = '[% scriptname %]/tables/reasons/list'>差戻理由</a></span>
	<span class = 'subitem'>- <a href = '[% scriptname %]/tables/hostgroups/list'>宛先分類</a></span>
	<span class = 'subitem'>- <a href = '[% scriptname %]/tables/providers/list'>プロバイダ</a></span>

	<span class = 'item'>- <a href = '[% scriptname %]/token'>トークン</a></span>
	<span class = 'item'>- <a href = '[% scriptname %]/summary'>登録済データの概要</a></span>
	<span class = 'item'>- <a href = '[% scriptname %]/profile'>システム情報</a></span>
</div>
