<div id = 'Legal'>
	<p id = 'Product'>
		<a href = 'http://bouncehammer.jp/' target = '_new'>[% pv_systemname %]</a>
		version [% INCLUDE version.html %] -Revision: 1.10 $, $Date: 2010/04/09 05:09:00 -
	</p>
	<p id = 'Copyright'>[% INCLUDE copyright.html %]</p><br />
	<p id = 'License'>
		THIS SOFTWARE COMES WITH <strong>ABSOLUTELY NO WARRANTY</strong>.
		THIS IS FREE SOFTWARE, AND YOU ARE WELCOME TO MODIFY AND REDISTRIBUTE IT UNDER
		<a href = 'http://www.gnu.org/licenses/old-licenses/gpl-2.0.html' target = '_new'>THE GPL LICENSE</a>
		OR <a href = 'http://dev.perl.org/licenses/artistic.html' target = '_new'>THE ARTISTIC LINCENSE</a>.
	</p>
</div>
