[%- PROCESS "words.tt" -%]
[%- FOREACH R IN tablecontents -%]
	[%- IF tablename == 'senderdomains' OR tablename == 'destinations' OR tablename == 'addressers' -%]
		[%- prototype.form_remote_tag( {
				url => "${scriptname}/tables/${tablename}/update",
				update => "mtr-${R.id}",
				before => "disableIt('do_update_${R.id}');",
			});
		-%]
		<table class = 'stored'>
			<tbody class = 'mastertable'>
			<tr id = 'mtr-[% R.id %]'>
				<td class = 'theID'>
					[% R.id %]
					<input type = 'hidden' name = 'id' value = '[% R.id %]' />
					<input type = 'hidden' name = 'language' value = '[% mylanguage %]' />
				</td>
				<td class = 'theName' id = 'name_of_[% R.id %]'>
					[% R.name %]<input type = 'hidden' name = 'name' value = '[% R.name %]' />
				</td>
				<td class = 'theDescription'>
					<input type = 'text' id = 'desc_of_[% R.id %]' class = 'rewritabletext' name = 'desc'
						value = '[% R.description %]' onKeyUp = "enableIt('do_update_[% R.id %]');" />
				</td>
				<td class = 'theMethod'>
					<input type = 'submit' id = 'do_update_[% R.id %]' value = '[% word.update %]' 
						class = 'flatbutton' onClick = "this.value = '[% word.updating %]';" disabled />
				</td>
			</tr>
			</tbody>
		</table>
	[%- ELSE -%]
		<table class = 'stored'>
			<tbody class = 'mastertable'>
			<tr>
				<td class = 'theID'>[% R.id %] &nbsp;</td>
				<td class = 'shortName' id = 'name_of_[% R.id %]'>
					[%- IF tablename == 'reasons' -%]
						<div class = 'reason [% R.name %]'>[% R.name %]</div>
					[%- ELSE -%]
						[% R.name %]
					[%- END -%]
				</td>
				<td class = 'longDescription'>
					[%- IF tablename == 'reasons' -%]
						<input type = 'text' id = 'desc_of_[% R.id %]' class = 'readonlytext' name = 'desc'
							value = '[% reason.${R.name} %][% IF R.description %]([% R.description %])[% END %]'
							readonly = 'readonly' />
					[%- ELSIF tablename == 'hostgroups' -%]
						<input type = 'text' id = 'desc_of_[% R.id %]' class = 'readonlytext' name = 'desc'
							value = '[% hostgroup.${R.name} %][% IF R.description %]([% R.description %])[% END %]'
							readonly = 'readonly' />
					[%- ELSE -%]
						<input type = 'text' id = 'desc_of_[% R.id %]' class = 'readonlytext' name = 'desc'
							value = '[% R.description %]' readonly = 'readonly' />
					[%- END -%]
				</td>
				<td class = 'theMethod'>
					&nbsp;<input type = 'submit' id = 'do_update_[% R.id %]' value = '[% word.readonly %]' 
						class = 'flatbutton' disabled />
				</td>
			</tr>
			</tbody>
		</table>
	[%- END -%]
	</form>
[%- END -%]
