[%- SET tt_showssearchcond = 'none' -%]
<div id = 'jx_queryform' style = 'margin: 0 0 8px 0;'>
	<form action = '[% pv_scriptname %]/search/recipient' method = 'POST'>
	<fieldset>
		<legend>[%- tt_desc.searchbyemail -%]</legend>
		<input type = 'text' name = 'fe_recipient' accesskey = '3' style = 'width: 405px;' class = 'wide'
			placeholder = '[%- tt_term.recipient -%](To)' autosave = '[% pv_systemname %].recipient' results = '16' />
		<input type = 'submit' value = '[%- tt_word.search -%]' id = 'jx_dosearch' accesskey = '4' class = 'flatbutton' />
		<input type = 'reset' value = '[%- tt_word.reset -%]' accesskey = '0' class = 'flatbutton' /><br />
		<span class = 'shortdescription'>[%- tt_desc.emptyaddress -%]</span>

		<div style = 'margin: 6px 0 4px -2px;'>
			<span id = 'jx_search-condition-sign' class = 'toggle-sign'
				onClick = "toggleIt('jx_search-condition'); toggleSign(this);">+</span>[% tt_word.searchcond %]
		</div>

		<div id = 'jx_search-condition' style = 'display: [% tt_showssearchcond %];'> 
			<table>
			<tbody>
				<tr>
					<td class = 'key'>[%- tt_term.addresser -%]</td>
					<td class = 'value'>
						<input type = 'text' name = 'fe_addresser' style = 'width: 288px;' class = 'wide'
							placeholder = '[%- tt_term.addresser -%](From)' 
							autosave = '[% pv_systemname %].addresser' results = '16'
							onChange = "jx_checksa.innerHTML='&#9745; [%- tt_word.use -%]';"/>
					</td>
					<td class = 'extra' id = 'jx_checksa'></td>
				</tr>
				<tr>
					<td class = 'key'>[%- tt_term.senderdomain -%]</td>
					<td class = 'value'>
						<input type = 'text' name = 'fe_senderdomain' style = 'width: 288px;' class = 'wide'
							placeholder = '[%- tt_term.senderdomain -%](From)' 
							autosave = '[% pv_systemname %].senderdomain' results = '16'
							onChange = "jx_checksd.innerHTML='&#9745; [%- tt_word.use -%]';"/>
					</td>
					<td class = 'extra' id = 'jx_checksd'></td>
				</tr>

				<tr>
					<td class = 'key'>[%- tt_term.destination -%]</td>
					<td class = 'value'>
						<input type = 'text' name = 'fe_destination' style = 'width: 288px;' class = 'wide'
							placeholder = '[%- tt_term.destination -%](To)'
							autosave = '[% pv_systemname %].destination' results = '16' 
							onChange = "jx_checkdd.innerHTML='&#9745; [%- tt_word.use -%]';"/>
					</td>
					<td class = 'extra' id = 'jx_checkdd'></td>
				</tr>

				<tr>
					<td class = 'key'>[%- tt_term.reason -%]</td>
					<td class = 'value'>
						[% INCLUDE "select-reason.html" %]
					</td>
					<td class = 'extra' id = 'jx_checkrw'></td>
				</tr>

				<tr>
					<td class = 'key'>[%- tt_term.hostgroup -%]</td>
					<td class = 'value'>
						[%- INCLUDE "select-hostgroup.html" -%]
					</td>
					<td class = 'extra' id = 'jx_checkhc'></td>
				</tr>

				<tr>
					<td class = 'key'>[%- tt_term.provider -%]</td>
					<td class = 'value'>
						<input type = 'text' name = 'fe_provider' style = 'width: 288px;' class = 'wide'
							placeholder = '[%- tt_term.provider -%]' 
							autosave = '[% pv_systemname %].provider' results = '16' 
							onChange = "jx_checkpn.innerHTML='&#9745; [%- tt_word.use -%]';"/>
					</td>
					<td class = 'extra' id = 'jx_checkpn'></td>
				</tr>

				<tr>
					<td class = 'key'>[%- tt_term.token -%]</td>
					<td class = 'value'>
						<input type = 'text' name = 'fe_token' style = 'width: 288px;' class = 'wide'
							placeholder = '[%- tt_term.token -%](MD5)'
							autosave = '[% pv_systemname %].token' results = '16'
							onChange = "jx_checkmd.innerHTML = '&#9745; [%- tt_word.use -%]';"/>
					</td>
					<td class = 'extra' id = 'jx_checkmd'></td>
				</tr>

				<tr>
					<td class = 'key'>[%- tt_term.frequency -%]</td>
					<td class = 'value'>
						<span style = 'font-size: 13px;'><strong>&gt;=</strong></span>
						<input type = 'text' name = 'fe_frequency' style = 'width: 72px;' class = 'wide'
							placeholder = '[%- tt_term.frequency -%]'
							autosave = '[% pv_systemname %].frequency ' results = '16'
							onChange = "jx_checkfq.innerHTML = '&#9745; [%- tt_word.use -%]';"/>
					</td>
					<td class = 'extra' id = 'jx_checkfq'></td>
				</tr>

				<tr>
					<td class = 'key'>[%- tt_term.bounced -%]</td>
					<td class = 'value'>
						[%- INCLUDE "select-howrecent.html" -%]
					</td>
					<td class = 'extra' id = 'jx_checkbd'></td>
				</tr>
				
				<tr>
					<td class = 'key'>[%- tt_word.sort -%]<br /><br />
						&nbsp; <input type = 'checkbox' name = 'fe_descend' /> [%- tt_word.descending -%]
					</td>
					<td class = 'value'>
					<fieldset style = 'border-width: 1px; line-height: 16px;'>
						<legend>[%- tt_word.column -%]</legend>
						<span><input type = 'radio' name = 'fe_orderby' 
							value = 'id' checked /> ID</span> &nbsp; 
						<span><input type = 'radio' name = 'fe_orderby' 
							value = 'addresser' /> [%- tt_term.addresser -%]</span> &nbsp;
						<span><input type = 'radio' name = 'fe_orderby' 
							value = 'recipient' /> [%- tt_term.recipient -%]</span> &nbsp;
						<span><input type = 'radio' name = 'fe_orderby' 
							value = 'senderdomain' /> [%- tt_term.senderdomain -%]</span> &nbsp; <br />
						<span><input type = 'radio' name = 'fe_orderby' 
							value = 'destination' /> [%- tt_term.destination -%]</span> &nbsp; &nbsp;
						<span><input type = 'radio' name = 'fe_orderby' 
							value = 'hostgroup' /> [%- tt_term.hostgroup -%]</span> &nbsp;
						<span><input type = 'radio' name = 'fe_orderby'
							value = 'provider' /> [%- tt_term.provider -%]</span> &nbsp; <br />
						<span><input type = 'radio' name = 'fe_orderby' 
							value = 'reason' /> [%- tt_term.reason -%]</span> &nbsp;
						<span><input type = 'radio' name = 'fe_orderby' 
							value = 'bounced' /> [%- tt_term.bounced -%]</span> &nbsp;
						<span><input type = 'radio' name = 'fe_orderby' 
							value = 'updated' /> [%- tt_term.updated -%]</span> &nbsp;
						<span><input type = 'radio' name = 'fe_orderby' 
							value = 'frequency' /> [%- tt_term.frequency -%]</span> &nbsp;
					</fieldset>
					</td>
					<td class = 'extra' id = 'jx_checkob'></td>
				</tr>

				<tr>
					<td class = 'key'>[%- tt_word.results -%]/[%- tt_word.page -%]</td>
					<td class = 'value'>
						<select name = 'fe_resultsperpage' id = 'jx_resultsperpage'>
							[%- FOREACH RPP IN [10,25,50,75,100] -%]
								<option value = '[%- RPP -%]' [%- IF RPP == 10 -%] selected [%- END -%]>
									[% RPP %]
								</option>
							[%- END -%]
						</select>
						<input type = 'hidden' name = 'fe_language' value = '[% pv_mylanguage %]' />
					</td>
					<td class = 'extra'></td>
				</tr>

				<tr>
					<td class = 'key'>
						&nbsp; <input type = 'checkbox' name = 'fe_enabledownload' 
							onChange = "
								if( this.checked == true ){
									disableIt('jx_resultsperpage');
									jx_dosearch.value = '[% tt_word.download %]';
									enableIt('jx_yamlff');
									enableIt('jx_jsonff');
									enableIt('jx_csvff');
								}
								else{
									enableIt('jx_resultsperpage');
									jx_dosearch.value = 'Search';
									disableIt('jx_yamlff');
									disableIt('jx_jsonff');
									disableIt('jx_csvff');
								}"/> [% tt_word.download %]
					</td>
					<td class = 'value'>
						<fieldset id = 'jx_fileformat' style = 'border-width: 1px;'>
							<legend>[% tt_word.fileformat %]</legend>
							<span><input id = 'jx_yamlff' type = 'radio' name = 'fe_downloadformat'
								value = 'yaml' disabled checked /> YAML</span> &nbsp; &nbsp; 
							<span><input id = 'jx_jsonff' type = 'radio' name = 'fe_downloadformat'
								value = 'json' disabled /> JSON</span> &nbsp; &nbsp; 
							<span><input id = 'jx_csvff' type = 'radio' name = 'fe_downloadformat'
								value = 'csv' disabled /> CSV</span> &nbsp; &nbsp; 
						</fieldset>
					</td>
					<td class = 'extra' id = 'jx_checkff'></td>
				</tr>
			</tbody>
			</table>
		</div>
	</fieldset>
	</form>
</div>
