[%- SET showsearchcondition = 'none' -%]
<div id = 'queryform'>
	<form action = '[% scriptname %]/search/recipient' method = 'POST'>
	<fieldset>
		<legend>Search by Recipient Address</legend>
		<input type = 'text' name = 'recipient' accesskey = '3' style = 'width: 430px;' class = 'wide'
			placeholder = 'Recipient(To) Address' autosave = '[% systemname %].recipient' results = '16' />
		<input type = 'submit' value = 'Search' id = 'dosearch' accesskey = '4' class = 'flatbutton' />
		<input type = 'reset' value = 'Reset' accesskey = '0' class = 'flatbutton' /><br />
		<span class = 'shortdescription'>E-mail address is empty, all data will be displayed.</span>

		<div style = 'margin: 8px 8px 4px 8px;'>
			<a href = "javascript:void(0)" onClick = "toggleIt('search-condition');"
				accesskey = '9'>Search Condition</a>
		</div>

		<div id = 'search-condition' style = 'display: [% showsearchcondition %];'> 
			<table>
			<tbody>
				<tr>
					<td class = 'key'>Sender address</td>
					<td class = 'value'>
						<input type = 'text' name = 'addresser' style = 'width: 288px;' class = 'wide'
							placeholder = 'Sender(From) address' autosave = '[% systemname %].addresser' 
							results = '16' onChange = "checksa.innerHTML='&#9745; Use';"/>
					</td>
					<td class = 'extra' id = 'checksa'></td>
				</tr>
				<tr>
					<td class = 'key'>Sender domain</td>
					<td class = 'value'>
						<input type = 'text' name = 'senderdomain' style = 'width: 288px;' class = 'wide'
							placeholder = 'Sender(From) Domain' autosave = '[% systemname %].senderdomain' 
							results = '16' onChange = "checksd.innerHTML='&#9745; Use';"/>
					</td>
					<td class = 'extra' id = 'checksd'></td>
				</tr>

				<tr>
					<td class = 'key'>Destination domain</td>
					<td class = 'value'>
						<input type = 'text' name = 'destination' style = 'width: 288px;' class = 'wide'
							placeholder = 'Destination(To) Domain' autosave = '[% systemname %].destination' 
							results = '16' onChange = "checkdd.innerHTML='&#9745; Use';"/>
					</td>
					<td class = 'extra' id = 'checkdd'></td>
				</tr>

				<tr>
					<td class = 'key'>Reason</td>
					<td class = 'value'>
						[% INCLUDE "select-reason.${mylanguage}.html" %]
					</td>
					<td class = 'extra' id = 'checkrw'></td>
				</tr>

				<tr>
					<td class = 'key'>Host Group</td>
					<td class = 'value'>
						[% INCLUDE "select-hostgroup.${mylanguage}.html" %]
					</td>
					<td class = 'extra' id = 'checkhc'></td>
				</tr>

				<tr>
					<td class = 'key'>Provider</td>
					<td class = 'value'>
						<input type = 'text' name = 'provider' style = 'width: 288px;' class = 'wide'
							placeholder = 'Provider Name' autosave = '[% systemname %].provider' 
							results = '16' onChange = "checkpn.innerHTML='&#9745; Use';"/>
					</td>
					<td class = 'extra' id = 'checkpn'></td>
				</tr>

				<tr>
					<td class = 'key'>Message Token(MD5)</td>
					<td class = 'value'>
						<input type = 'text' name = 'token' results = '16' style = 'width: 288px;' class = 'wide'
							placeholder = 'Message Token(MD5) Hex' autosave = '[% systemname %].token' 
							onChange = "checkmd.innerHTML = '&#9745; Use';"/>
					</td>
					<td class = 'extra' id = 'checkmd'></td>
				</tr>


				<tr>
					<td class = 'key'>Bounced date</td>
					<td class = 'value'>
						<select name = 'howrecent' id = 'howrecent' onChange = "checkbd.innerHTML = '&#9745; Use';">
							<option value = '0' selected>Anytime</option>
							<option value = '12h'>Past 12 hours</option>
							<option value = '1d'>Past 24 hours</option>
							<option value = '1w'>Past week</option>
							<option value = '1f'>Past 2 weeks</option>
							<option value = '1l'>Past month</option>
							<option value = '0.5y'>Past half a year</option>
							<option value = '1y'>Past year</option>
							<option value = '1o'>Past 4 years</option>
						</select>
					</td>
					<td class = 'extra' id = 'checkbd'></td>
				</tr>
				
				<tr class = 'boundary'><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>

				<tr>
					<td class = 'key'>Sort order by</td>
					<td class = 'value'>
						<fieldset style = 'border-width: 1px; line-height: 16px;'>
							<legend>Column</legend>
							<span><input type = 'radio' name = 'orderby' value = 'id' checked /> ID</span> &nbsp; &nbsp; 
							<span><input type = 'radio' name = 'orderby' value = 'addresser' /> Addresser</span> &nbsp; &nbsp; 
							<span><input type = 'radio' name = 'orderby' value = 'recipient' /> Recipient</span> &nbsp; &nbsp; 
							<span><input type = 'radio' name = 'orderby' value = 'senderdomain' /> SenderDomain</span> <br />
							<span><input type = 'radio' name = 'orderby' value = 'destination' /> Destination</span> &nbsp; &nbsp; 
							<span><input type = 'radio' name = 'orderby' value = 'bounced' /> Bounced Date</span> &nbsp; &nbsp; 
							<span><input type = 'radio' name = 'orderby' value = 'frequency' /> Frequency</span> &nbsp; &nbsp; 
						</fieldset>
					</td>
					<td class = 'extra' id = 'checkob'></td>
				</tr>

				<tr>
					<td class = 'key'>Descend</td>
					<td class = 'value'>
						<input type = 'checkbox' name = 'descend' /> Order by descending 
					</td>
					<td class = 'extra' id = 'checkod'></td>
				</tr>

				<tr>
					<td class = 'key'>Results per page</td>
					<td class = 'value'>
						<select name = 'resultsperpage' id = 'resultsperpage'>
							[%- FOREACH RPP IN [10,25,50,75,100] -%]
								<option value = '[%- RPP -%]' [%- IF RPP == 10 -%] selected [%- END -%]>
									[% RPP %]
								</option>
							[%- END -%]
						</select>
						<input type = 'hidden' name = 'language' value = '[% mylanguage %]' />
					</td>
					<td class = 'extra'></td>
				</tr>

				<tr class = 'boundary'><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>

				<tr>
					<td class = 'key'>Download</td>
					<td class = 'value'>
						<input type = 'checkbox' name = 'enabledownload' 
							onChange = "
								if( this.checked == true ){
									disableIt('resultsperpage');
									dosearch.value = 'Download';
									enableIt('yamlff');
									enableIt('jsonff');
									enableIt('csvff');
								}
								else{
									enableIt('resultsperpage');
									dosearch.value = 'Search';
									disableIt('yamlff');
									disableIt('jsonff');
									disableIt('csvff');
								}"/>
						Enable download
					</td>
					<td class = 'extra' id = 'checkdl'></td>
				</tr>

				<tr>
					<td class = 'key'>File format</td>
					<td class = 'value'>
						<fieldset id = 'fileformat' style = 'border-width: 1px;'>
							<legend>Format</legend>
							<span><input id = 'yamlff' type = 'radio' name = 'downloadformat' value = 'yaml' disabled checked />
								YAML</span> &nbsp; &nbsp; 
							<span><input id = 'jsonff' type = 'radio' name = 'downloadformat' value = 'json' disabled />
								JSON</span> &nbsp; &nbsp; 
							<span><input id = 'csvff' type = 'radio' name = 'downloadformat' value = 'csv' disabled />
								CSV</span> &nbsp; &nbsp; 
						</fieldset>
					</td>
					<td class = 'extra' id = 'checkff'></td>
				</tr>
			</tbody>
			</table>

		</div>
		[%- IF hascondition AND 0 -%]
			[% INCLUDE "form-search-query.${mylanguage}.html" %]
		[%- END -%]
	</fieldset>
	</form>
</div>
