[%- SET IFRAMEHEIGHT = 144 -%]
[%- IF parsedmessages -%]
	[%- SET IFRAMEHEIGHT = ( IFRAMEHEIGHT + ( parsedmessages + 600 ) ) %]
[%- END -%]
[% IF onlineparse == 1 %]
	<body style = 'margin: 0; padding: 0; width: 585px;' 
		onLoad = "parent.document.getElementById('parseddata').style.height = '[% IFRAMEHEIGHT %]';
				parent.document.getElementById('doparse').value = '解析';"
		onAbort = "parent.document.getElementById('doparse').disabled = false;">
		
		[% prototype.define_javascript_functions %]
		<script type = 'text/javascript'>
			[% INCLUDE bouncehammer.js %]
		</script>
		<style type = 'text/css'>
		<!--
		html { overflow-x: hidden; overflow-y: auto; margin: 0; padding: 0; }
		[% INCLUDE bouncehammer.css %]
		[% INCLUDE record.css %]
		[% INCLUDE testparse.css %]
		[% INCLUDE reason.css %]
		-->
		</style>

		<h2>解析結果</h2>
		<div class = 'result' style = 'margin:0; padding: 0;'>
			<div class = 'upload-summary'>
				<table>
					<tbody>
						<tr>
							<td class = 'key'>元データ</td>
							<td class = 'value'>[% parsedfilename %] </td>
							<td class = 'extra'> </td>
						</tr>

						<tr>
							<td class = 'key'>データ容量</td>
							<td class = 'value'>
								[% IF parseerror == "toobig" %]
									<span class = 'errortext'>許容サイズ超過</span>
								[% ELSIF parseerror == "nottext" %]
									? バイト
								[% ELSE %]
									約 [% parsedfilesize %] バイト
								[% END %]
							</td>
							<td class = 'extra'> </td>
						</tr>

						<tr>
							<td class = 'key'>メッセージ数</td>
							<td class = 'value'>[% parsedmessages %] 件</td>
							<td class = 'extra'> </td>
						</tr>

						[% IF onlineupdate == 1 AND parseerror == '' %]
							<tr>
								<td class = 'key'>新規登録数</td>
								<td class = 'value'>[% updateresult.insert %] 件</td>
								<td class = 'extra'></td>
							</tr>

							<tr>
								<td class = 'key'>既存更新数</td>
								<td class = 'value'>[% updateresult.update %] 件</td>
								<td class = 'extra'></td>
							</tr>

							<tr>
								<td class = 'key'>非更新の理由</td>
								<td class = 'value'>
									発信者ドメインなし: [% updateresult.nofrom %],
									データが古い: [% updateresult.tooold %],
									上書き禁止: [% updateresult.whited %],
									登録上限数超過: [% updateresult.exceed %]
									失敗: [% updateresult.failed %]
								</td>
								<td class = 'extra'></td>
							</tr>
						[% END %]
					</tbody>
				</table>
			</div>

			[%- IF parsedmessages -%]
				[% IF outputformat == "html" %]
					[% INCLUDE "div-result.${mylanguage}.html" %]
				[% ELSE %]
					<textarea name = 'serialized' id = 'serialized' class = 'serialized'
						rows = '22' cols = '87' readonly = 'readonly'>[% parseddatatext %]</textarea>
				[% END %]
			[%- ELSE -%]
				<div class = 'errormessage'>
				[%- IF parseerror == "toobig" -%]
					データサイズが大きすぎます。
				[%- ELSIF parseerror == "nottext" %]
					電子メール形式(テキスト)のファイルではないようです。
				[%- ELSE -%]
					解析対象となる内容は電子メール内に見つかりませんでした。
				[%- END -%]
				</div>
			[%- END -%]
		</div>
	</body>
[% END %]
