[%- PROCESS "words.tt" -%]
[%- PROCESS "terms.tt" -%]
[%- PROCESS "hostgroup.tt" -%]
[%- PROCESS "reason.tt" -%]
[%- PROCESS "desc.tt" -%]
[%- PROCESS "error.tt" -%]
[%- SET tt_iframeheight = 169 -%]
[%- IF pv_parsedmessages -%]
	[%- SET tt_iframeheight = ( tt_iframeheight + ( pv_parsedmessages + 600 ) ) %]
[%- END -%]
[% IF pv_onlineparse == 1 %]
<body style = 'margin: 0; padding: 0; width: 660px; text-align: left;' 
	onLoad = "
		parent.document.getElementById('jx_parseddata').style.height = '[% tt_iframeheight %]';
		parent.document.getElementById('jx_doparse').value = '[% tt_word.parse %]';"
	onAbort = "
		parent.document.getElementById('jx_doparse').disabled = false;">
	
	[% pv_prototype.define_javascript_functions %]
	<script type = 'text/javascript'>
		[% INCLUDE bouncehammer.js %]
	</script>
	<style type = 'text/css'>
	<!--
	html { overflow-x: hidden; overflow-y: auto; margin: 0; padding: 0; }
	[% INCLUDE bouncehammer.css %]
	[% INCLUDE record.css %]
	[% INCLUDE testparse.css %]
	[% INCLUDE reason.css %]
	-->
	</style>

	<h2>[% tt_word.parseddata %]</h2>
	<div class = 'result' style = 'margin: 0 0 0 2px; padding: 0;'>
		<div class = 'upload-summary'>
			<table>
				<tbody>
					<tr>
						<td class = 'key'>[% tt_word.datasource %]</td>
						<td class = 'value'>[% pv_parsedfilename %] </td>
						<td class = 'extra'> </td>
					</tr>

					<tr>
						<td class = 'key'>[% tt_word.datasize %]</td>
						<td class = 'value'>
							[% IF pv_parseerror == "toobig" %]
								<span class = 'errortext'>[% tt_error.exceedslimit %]</span>
							[% ELSIF pv_parseerror == "nottext" %]
								? [% tt_word.bytes %]
							[% ELSE %]
								[% tt_word.about %] [% pv_parsedfilesize %] [% tt_word.bytes %]
							[% END %]
						</td>
						<td class = 'extra'> </td>
					</tr>

					<tr>
						<td class = 'key'>[% tt_word.message %]</td>
						<td class = 'value'>[% pv_parsedmessages %] [% tt_word.unitofrecs %]</td>
						<td class = 'extra'> </td>
					</tr>

					[% IF pv_onlineupdate == 1 AND pv_parseerror == '' %]
						<tr>
							<td class = 'key'>[% tt_word.registered %]</td>
							<td class = 'value'>[% pv_updateresult.insert %] [% tt_word.unitofrecs %]</td>
							<td class = 'extra'></td>
						</tr>

						<tr>
							<td class = 'key'>[% tt_word.updated %]</td>
							<td class = 'value'>[% pv_updateresult.update %] [% tt_word.unitofrecs %]</td>
							<td class = 'extra'></td>
						</tr>

						<tr>
							<td class = 'key'>[% tt_word.skipped %]</td>
							<td class = 'value'>
								[% tt_error.nosenderdomain %]: [% pv_updateresult.nofrom %],
								[% tt_error.toooldorsame %]: [% pv_updateresult.tooold %],
								[% tt_error.iswhitelisted %]: [% pv_updateresult.whited %],
								[% tt_error.exceedslimit %]: [% pv_updateresult.exceed %]
								[% tt_error.failed %]: [% pv_updateresult.failed %]
							</td>
							<td class = 'extra'></td>
						</tr>
					[% END %]
				</tbody>
			</table>
		</div>

		[%- IF pv_parsedmessages -%]
			[% IF pv_outputformat == "html" %]
				[% INCLUDE "div-result.html" %]
			[% ELSE %]
				<textarea name = 'fe_serialized' id = 'jx_serialized' class = 'serialized'
					rows = '22' cols = '87' readonly = 'readonly'>[% pv_parseddatatext %]</textarea>
			[% END %]
		[%- ELSE -%]
			<h2 class = 'errorhead'>[%- tt_error.error -%]</h2>
			<div class = 'errormessage'>
			[%- IF pv_parseerror == "toobig" -%]
				[% tt_error.filesizetoobig %]
			[%- ELSIF pv_parseerror == "nottext" %]
				[% tt_error.isnotemail %]
			[%- ELSE -%]
				[% tt_error.nobouncemessage %]
			[%- END -%]
			</div>
		[%- END -%]
	</div>
</body>
[% END %]
