[%- SET hostgroups = { 
	'_'		=> '- 宛先分類を選択 -',
	'undefined'	=> '未定義/不明',
	'reserved'	=> '予約済ドメイン',
	'cellphone'	=> '携帯電話',
	'smartphone'	=> 'スマートフォン',
	'pc'		=> 'PC',
	'webmail'	=> 'Webメール',
	'neighbor'	=> 'ご近所'
	}
-%]
[%- SET isselected = '' -%]
[% IF B.id %]
	<select name = 'hostgroup' id = 'hostgroups-of-[% B.id %]' onChange = "enableIt('do-update-[% B.id %]');">
[% ELSE %]
	<select name = 'hostgroup' onChange = "checkhc.innerHTML = '&#9745; 使用';">
[% END %]
		[%- FOREACH c IN hostgroups -%]
			[%- IF c.key == B.hostgroup -%]
				[%- SET isselected = 'selected' -%]
			[%- ELSE -%]
				[%- SET isselected = '' -%]
			[%- END -%]
			<option value = '[% c.key %]' [%- isselected -%]>[% c.value %]</option>
		[%- END -%]
	</select>
