[%- SET tt_isselected = '' -%]
[%- IF B.id -%]
	<select name = 'fe_hostgroup' id = 'jx_hostgroups-of-[% B.id %]' 
		class = 'wide-dropdownlist'
	[%- IF pv_isreadonly == 0 -%]
		onChange = "enableIt('jx_do-update-[% B.id %]');">
	[%- ELSE -%]
		disabled = 'disabled'>
	[%- END -%]
[%- ELSE -%]
	<select name = 'fe_hostgroup' class = 'wide-dropdownlist'
		onChange = "jx_checkhc.innerHTML = '&#9745; [% tt_word.use %]';">
[%- END -%]
		[%- FOREACH g IN tt_hostgroup -%]
			[%- IF g.key == B.hostgroup -%]
				[%- SET tt_isselected = 'selected' -%]
			[%- ELSE -%]
				[%- SET tt_isselected = '' -%]
			[%- END -%]
			<option value = '[% g.key %]' [%- tt_isselected -%]>[% g.value %]</option>
		[%- END -%]
	</select>
