[%- SET reasons = { 
		'_'		=> '- 差戻理由を選択 -',
		'undefined'	=> '未定義/不明', 
		'userunknown'	=> '宛先不明',
		'hostunknown'	=> '不明なホスト',
		'hasmoved'	=> '移転済み',
		'filtered'	=> 'フィルターによる拒否',
		'mailboxfull'	=> 'メールボックスが一杯',
		'exceedlimit'	=> '許容値を超過',
		'systemfull'	=> 'メールサーバ溢れ中',
		'notaccept'	=> 'メールサーバ停止中',
		'mesgtoobig'	=> 'メッセージサイズ超過',
		'whitelisted'	=> '確実に存在する',
		'unstable'	=> '不安定な受信者'
		'mailererror'	=> 'メールプログラムエラー',
		'securityerr'	=> 'セキュリティ上のエラー',
		'suspended'	=> '一時停止中',
		'onhold'	=> '理由決定を保留中',
	}
-%]
[%- SET isselected = '' -%]
[% IF B.id %]
	<select name = 'reason' onChange = "enableIt('do-update-[% B.id %]');">
[% ELSE %]
	<select name = 'reason' onChange = "checkrw.innerHTML = '&#9745; 使用';">
[% END %]
		[%- FOREACH r IN reasons -%]
			[%- IF r.key == B.reason -%]
				[%- SET isselected = 'selected' -%]
			[%- ELSE -%]
				[%- SET isselected = '' -%]
			[%- END -%]
			<option value = '[% r.key %]' [%- isselected -%]>[% r.value %]</option>
		[%- END -%]
	</select>
