[%- SET hostgroups = { 
	'_'		=> '- Select host group -',
	'undefined'	=> 'Undefined',
	'reserved'	=> 'Reserved',
	'cellphone'	=> 'Cellular phone',
	'smartphone'	=> 'Smart phone',
	'pc'		=> 'PC',
	'webmail'	=> 'Web-based email',
	'neighbor'	=> 'Neighbor'
	}
-%]
[%- SET isselected = '' -%]
[% IF B.id %]
	<select name = 'hostgroup' id = 'hostgroups-of-[% B.id %]' onChange = "enableIt('do-update-[% B.id %]');">
[% ELSE %]
	<select name = 'hostgroup' onChange = "checkhc.innerHTML = '&#9745; Use';">
[% END %]
		[%- FOREACH c IN hostgroups -%]
			[%- IF c.key == B.hostgroup -%]
				[%- SET isselected = 'selected' -%]
			[%- ELSE -%]
				[%- SET isselected = '' -%]
			[%- END -%]
			<option value = '[% c.key %]' [%- isselected -%]>[% c.value %]</option>
		[%- END -%]
	</select>
