[%# $Id: hostgroup.tt,v 1.2 2010/08/28 17:19:14 ak Exp $ -%]
[%# Host Group definiations in English -%]
[%- SET tt_hostgroup = { 
		'_'		=> '- 宛先分類を選択 -',
		'undefined'	=> '未定義',
		'reserved'	=> '予約済み',
		'cellphone'	=> '携帯電話',
		'smartphone'	=> 'スマートフォン',
		'pc'		=> 'PC',
		'webmail'	=> 'WebMail',
		'neighbor'	=> 'ご近所',
	}
-%]
