[%# $Id: terms.tt,v 1.1 2010/06/28 13:15:43 ak Exp $ -%]
[%# Terms in English -%]
[%- SET term = { 
		'bouncelogs'	=> 'BounceLogs',
		'mastertable'	=> 'マスターテーブル',
		'addresser'	=> '発信者アドレス',
		'recipient'	=> '受信者アドレス',
		'senderdomain'	=> '発信者ドメイン',
		'destination'	=> '宛先ドメイン',
		'hostgroup'	=> '宛先分類',
		'provider'	=> '宛先所属',
		'reason'	=> '差戻理由',
		'frequency'	=> '差戻回数',
		'token'		=> 'トークン',
		'bounced'	=> '差戻日時',
		'updated'	=> '更新日時',
	}
-%]
