<h6>MTA Modules</h6>
<div class = 'description'>
	<dl>
		<dt>[% tt_word.standard %]</td>
		<dd>
			Modules for open source MTAs. These modules
			are included in the released archive file.
		</dd>

		<dt>[% tt_word.commercial %]</td>
		<dd>
			Modules for commercial MTAs and commercial
			email services. These modules are NOT included
			in the released archive file. If you want to
			know about these modules, please contact us.
		</dd>

		<dt>[% tt_word.version %]</td>
		<dd>
			0.0.X = Alpha version<br />
			0.1.X = Beta version<br />
			2.Y.Z = Stable version<br />
		</dd>
	</dl>
</div>
