<h6>neighbor-domains</h6>
<p class = "description">
	Kanadzuchi/Mail/Group/ Neighbor.pm reads etc/neighbor-domains. 
	If a provider name and a domain name are defined in the file,  
	the hostgroup is classified as &quot;neighbor&quot;, and the provider name 
	is classified by the name of its provider.
</p>

<h6>To use</h6>
<p class = "description">
	<span class = 'errortext'>
	If you use the file, it should be saved as &quot;neighbor-domains&quot;,
	Run /bin/cp ./neighbor-domains-example ./neighbor-domains,
	And Edit the file at the command line.
	</span>
</p>

